$("#list_equipments").html('<%= j render("list_equipments") %>');
$("#list_payments").html('<%= j render("payments/finished", service: @service) %>');
$("#form_service").html('<%= j render("form") %>');

<% if @equipments_not_paid.blank? && @service.equipment_customers.present? %>
  //$(".link-hover").remove(); No anadir mas equipos al servicio
  $('#paid').html('<p class="text-center">Todos los pagos han sido realizados.</p>');
<% end %>

<% unless @equipments_not_paid.blank? %>
  $("#paid").html('<%= j render('payments/form', payment: @payment, service: @service, equipments_not_paid: @equipments_not_paid) %>');
<% end %>

toastr['success']('<%= @message %>');
