<div class="text-center">
  <p><strong>PC TIENDA & REPARACIÓN</strong></p>
  <p style='margin-bottom: 0px;'>Domicilio</p>
  <p style='margin-bottom: 0px;'>Calle 16 de Septiembre No. 6 y 3</p>
  <p style='margin-bottom: 0px;'>Col. Centro, México, CP 69000</p>
  <p style='margin-bottom: 0px;'>Heroica Ciudad de Huajuapan de León, Oaxaca</p>
  <p style='margin-bottom: 0px;'>RFC. TTTT9999999ED</p>
  <p>Sucursal: [Accesorios/Servicio/Imprenta]
</div>
<p><%= date_time_helper(Time.now) %></p>
<p class=text-right>Folio: <%= @service.folio %></p>

<table class="table">
  <thead>
    <tr>
      <th>CODIGO</th>
      <th>CANT</th>
      <th>DESCRIPCIÓN</th>
      <th>PU</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <% @service.service_spare_parts.each do |service_spare_part| %>
      <tr>
        <td></td>
        <td><%= service_spare_part.quantity %></td>
        <td><%= service_spare_part.name_ticket %></td>
        <td><%= number_to_currency service_spare_part.price %></td>
        <td><%= number_to_currency service_spare_part.total_cost %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-xs-8 text-right">
    <p style='margin-bottom: 0px;'>Subtotal:</p>
  </div>
  <div class="col-xs-4 text-right">
    <p style='margin-bottom: 0px;'><%= number_to_currency @service.generate_totals(@service.worforce, @service.discount)[:total_products] %></p>
  </div>

  <div class="col-xs-8 text-right">
    <p style='margin-bottom: 0px;'>Descuentos:</p>
  </div>
  <div class="col-xs-4 text-right">
    <p style='margin-bottom: 0px;'><%= number_to_currency @service.generate_totals(@service.worforce, @service.discount)[:total_discount] %></p>
  </div>

  <div class="col-xs-8 text-right">
    <p style='margin-bottom: 0px;'>IVA al 16%:</p>
  </div>
  <div class="col-xs-4 text-right">
    <p style='margin-bottom: 0px;'><%= number_to_currency 0 %></p>
  </div>

  <div class="col-xs-8 text-right">
    <p style='margin-bottom: 0px;'><strong>Total M.N.:</strong></p>
  </div>
  <div class="col-xs-4 text-right">
    <p style='margin-bottom: 0px;'><%= number_to_currency  @service.generate_totals(@service.worforce, @service.discount)[:total_final] %></p>
  </div>
</div>

<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="col-xs-8 text-right">
    <p style='margin-bottom: 0px;'>Pago >> <%= @service.payment_type.name %></p>
  </div>
  <div class="col-xs-4 text-right">
    <p style='margin-bottom: 0px;'><%= number_to_currency 1500 %></p>
  </div>

  <div class="col-xs-8 text-right">
    <p style='margin-bottom: 0px;'>Cambio:</p>
  </div>
  <div class="col-xs-4 text-right">
    <p style='margin-bottom: 0px;'><%= number_to_currency 25.5 %></p>
  </div>
</div>

<p class="text-center" style="margin-bottom: 0px; font-size:12px">Documento sin efectos fiscales</p>
<p class="text-center" style="font-size:12px; padding-bottom: 5px; border-bottom-style: dashed;">[ Políticas de Garantía ]</p>

<p>Si requiere factura, favor de solicitarla al momento de efectuar su compra.</p>
