<%= form_for :search, html: { method: :get, remote: true, id: 'filter_form'} do |f| %>
  <div class="container-fluid">
    <div class="row" style="margin: 6px 0px;">
      <div class="col-sm-3">
        <div class="row">
          <label class="control-label col-sm-4" for="search_start_date">Desde</label>
          <div class="col-sm-8">
            <%= f.text_field :start_date, class: 'form-control form-control-sm datepicker', autocomplete: 'off' %>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <label class="control-label col-sm-3" for="search_employee_id">Por empleado</label>
          <div class="col-sm-9">
            <%= f.collection_select :employee_id, [], :id, :name, { prompt: 'Seleccionar empleado' }, class: 'form-control autocomplete_employes' %>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="row">
          <label class="control-label col-sm-3" for="search_lower_limit">De</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <div class="col-sm-9" style="padding-left: 0;">
              <%= f.text_field :lower_limit, class: 'form-control form-control-sm', autocomplete: 'off' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin: 6px 0px;">
      <div class="col-sm-3">
        <div class="row">
          <label class="control-label col-sm-4" for="search_end_date">Hasta</label>
          <div class="col-sm-8">
            <%= f.text_field :end_date, class: 'form-control form-control-sm datepicker', autocomplete: 'off' %>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <label class="control-label col-sm-3" for="search_end_date">No. Folio</label>
          <div class="col-sm-9">
            <%= f.text_field :ticket, class: 'form-control form-control-sm', autocomplete: 'off' %>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="row">
          <label class="control-label col-sm-3" for="search_upper_limit">Hasta</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <div class="col-sm-9" style="padding-left: 0;">
              <%= f.text_field :upper_limit, class: 'form-control form-control-sm', autocomplete: 'off' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin: 6px 0px;">
      <div class="col-sm-12">
        <%= link_to quotation_printing_income_reports_index_path, class: "btn btn-default pull-left" do %>
          <i class="fa fa-fw fa-undo"></i>
          Eliminar Filtros
        <% end %>
        <%= link_to quotation_printing_income_reports_index_path(format: :xlsx), id: 'link_export_xls',  class: "btn btn-default pull-right", style: "margin-right: 45px;" do %>
          <i class="fa fa-fw fa-file-excel-o"></i>
          Exportar a Excel
        <% end %>
      </div>
    </div>
  </div>

  <button type="submit" id="submit_button" style="display:none">Submit</button>
<% end %>

<!-- Search by range dates -->
<script>
    $(document).ready(function() {
        setDatePicker($(".datepicker"));

        $('.datepicker')
            .datepicker()
            .on('changeDate', sendForm);
    });

    function sendForm() {
        var startDate = $("#search_start_date").val();
        var endDate = $("#search_end_date").val();
        var $filterForm = $("#filter_form");
        var $submitButton = $("#submit_button");
        var $xlsLink = $("#link_export_xls");

        if(startDate != undefined && endDate != undefined) {
            $filterForm.attr("action", "/quotation_printing_income_reports/range_date_incomes");
            $xlsLink.attr("href", "/quotation_printing_income_reports/range_date_incomes.xlsx");
            $submitButton.click();
            console.log("Submit form....")
        }
    }
</script>

<!-- Search by employee -->
<script>
    $(document).ready(function() {
        $('.autocomplete_employes').select2({
            minimumInputLength: 1,
            ajax: {
                delay: 250,
                url: "/employes/autocomplete",
                dataType: 'json',
                cache: true
            }
        });

        $('.autocomplete_employes').on('select2:select', function (e) {
            var $filterForm = $("#filter_form");
            var $submitButton = $("#submit_button");
            var $xlsLink = $("#link_export_xls");

            $filterForm.attr("action", "/quotation_printing_income_reports/employee_incomes");
            $xlsLink.attr("href", "/quotation_printing_income_reports/employee_incomes.xlsx");
            $submitButton.click();
        });
    });
</script>

<!-- Search by range quantity -->
<script>
    $(document).ready(function() {
        $("#search_lower_limit").on("keydown", _.debounce(rangeQuantity, 300));
        $("#search_upper_limit").on("keydown", _.debounce(rangeQuantity, 300));

        setInteger($("#search_lower_limit"));
        setInteger($("#search_upper_limit"))
    });

    function rangeQuantity() {
        var lowerLimit = $("#search_lower_limit").val();
        var upperLimit = $("#search_upper_limit").val();
        var $filterForm = $("#filter_form");
        var $submitButton = $("#submit_button");
        var $xlsLink = $("#link_export_xls");

        if(lowerLimit != undefined && upperLimit != undefined) {
            $filterForm.attr("action", "/quotation_printing_income_reports/range_quantity_incomes");
            $xlsLink.attr("href", "/quotation_printing_income_reports/range_quantity_incomes.xlsx");
            $submitButton.click();
        }
    }
</script>

<!-- Search by folio -->
<script>
    $(document).ready(function() {
        $("#search_ticket").on("keydown", _.debounce(byTicket, 300));

        setInteger($("#search_ticket"));
    });

    function byTicket() {
        var ticket = $("#search_ticket").val();
        var $filterForm = $("#filter_form");
        var $submitButton = $("#submit_button");
        var $xlsLink = $("#link_export_xls");

        if(ticket != undefined) {
            $filterForm.attr("action", "/quotation_printing_income_reports/ticket_incomes");
            $xlsLink.attr("href", "/quotation_printing_income_reports/ticket_incomes.xlsx");
            $submitButton.click();
        }
    }
</script>
