<% unless resource.errors.blank? %>
  <script>
    toastr["error"]("Proporciona los campos de forma correcta.", "ERROR");
  </script>
<% end %>

<div class="col-sm-8 offset-md-2">
  <div class="card">
    <div class="card-header">
      <h2 class="text-info">Editar Perfíl</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "profile_form" }) do |f| %>

      <div class="form-group row">
        <label for="exampleInputName" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <%= f.text_field :name, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= resource.errors[:name].first %></div>
        </div>
      </div>

      <div class="form-group row">
        <label for="exampleInputName" class="col-sm-3 col-form-label">Apellido paterno</label>
        <div class="col-sm-9">
          <%= f.text_field :first_name, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= resource.errors[:first_name].first %></div>
        </div>
      </div>

      <div class="form-group row">
        <label for="exampleInputName" class="col-sm-3 col-form-label">Apellido materno</label>
        <div class="col-sm-9">
          <%= f.text_field :last_name, class: "form-control" %>
          <div class="invalid-feedback"><%= resource.errors[:last_name].first %></div>
        </div>
      </div>

      <div class="form-group row">
        <label for="exampleInputName" class="col-sm-3 col-form-label">Usuario</label>
        <div class="col-sm-9">
          <%= f.text_field :username, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= resource.errors[:username].first %></div>
        </div>
      </div>

      <div class="form-group row">
        <label for="exampleInputName" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <%= f.text_field :email, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= resource.errors[:email].first %></div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <% if @minimum_password_length %>
      <% hint = "#{@minimum_password_length} carácteres mínimo." %>
      <% end %>

      <div class="form-group row">
        <label for="exampleInputName" class="col-sm-3 col-form-label">Contraseña</label>
        <div class="col-sm-9">
          <%= f.password_field :password, class: "form-control" %>
          <div class="invalid-feedback"><%= resource.errors[:password].first %></div>
          <small class="form-text text-muted"><%= "(#{hint}), (Dejar en blanco si no desea cambiarla) " %> </small>
        </div>
      </div>

      <div class="form-group row">
        <label for="exampleInputName" class="col-sm-3 col-form-label">Confirmación de contraseña</label>
        <div class="col-sm-9">
          <%= f.password_field :password_confirmation, class: "form-control" %>
          <div class="invalid-feedback"><%= resource.errors[:password_confirmation].first %></div>
          <small class="form-text text-muted">(Dejar en blanco si no desea cambiarla)</small>
        </div>
      </div>

      <div class="form-group row">
        <label for="exampleInputName" class="col-sm-3 col-form-label">Contraseña actual</label>
        <div class="col-sm-9">
          <%= f.password_field :current_password, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= resource.errors[:current_password].first %></div>
          <small class="form-text text-muted">(Necesaria para actualizar tus cambios)</small>
        </div>
      </div>

      <%#= f.input :current_password, hint: "<i>(we need your current password to confirm your changes)</i>".html_safe, input_html: { autocomplete: "current-password" } %>

      <div class="row">
        <div class="col-md-6 offset-md-3">
          <%= f.submit "Actualizar perfíl", class: "btn btn-primary" %>
        </div>
      </div>

      <% end %>

      <!--<h3>Cancel my account</h3>

        <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%#= link_to "Back", :back %>-->

    </div>
  </div>
</div>
