<% unless resource.errors.blank? %>
  <script>
    toastr["error"]("Proporciona los campos de forma correcta.", "ERROR");
  </script>
<% end %>

<div class="box">
  <div class="box-header text-center">
    <h3 class="box-title title-catalog">Actualizar</h3>
    <%= link_to root_path, class: "btn btn-info pull-right" do %>
      <i class="fa fa-fw fa-reply"></i>
    <% end %>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
    <div class="box-body">
      <div class="form-group <%= 'has-error' unless resource.errors[:name].blank? %>">
        <label class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-10">
          <%= f.text_field :name, class: "form-control", required: true %>
          <span><%= resource.errors[:name].first %></span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Apellido Paterno</label>

        <div class="col-sm-10">
          <%= f.text_field :first_name, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= resource.errors[:first_name].first %></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Apellido Materno</label>
        <div class="col-sm-10">
          <%= f.text_field :last_name, class: "form-control" %>
          <div class="invalid-feedback"><%= resource.errors[:last_name].first %></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Usuario</label>
        <div class="col-sm-10">
          <%= f.text_field :username, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= resource.errors[:username].first %></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
         <%= f.text_field :email, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= resource.errors[:email].first %></div>
        </div>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <% if @minimum_password_length %>
      <% hint = "#{@minimum_password_length} carácteres mínimo." %>
      <% end %>

      <div class="form-group">
        <label class="col-sm-2 control-label">Contraseña</label>
        <div class="col-sm-10">
         <%= f.password_field :password, class: "form-control" %>
          <div class="help-block"><%= resource.errors[:password].first %></div>
          <small class="form-text text-muted"><%= "(#{hint}), (Dejar en blanco si no desea cambiarla) " %> </small>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Confirmación de contraseña</label>
        <div class="col-sm-10">
         <%= f.password_field :password_confirmation, class: "form-control" %>
          <div class="invalid-feedback"><%= resource.errors[:password_confirmation].first %></div>
          <small class="form-text text-muted">(Dejar en blanco si no desea cambiarla)</small>
        </div>
      </div>

      <div class="form-group <%= 'has-error' unless resource.errors[:current_password].blank? %>">
        <label class="col-sm-2 control-label">Contraseña actual</label>
        <div class="col-sm-10">
         <%= f.password_field :current_password, class: "form-control", required: true %>
          <div class="help-block"><%= resource.errors[:current_password].first %></div>
          <small class="form-text text-muted">(Necesaria para actualizar tus cambios)</small>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <%= f.submit "Actualizar perfíl", class: "btn btn-info btn-block" %>
    </div>
    <!-- /.box-footer -->
  <% end %>
</div>
