<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Equipos</h3>
        <%= link_to 'Registrar', new_equipment_path, class: "btn btn-primary pull-right" %>
        
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive table-condensed no-padding">
        <table class="table table-hover table-condensed table-striped">
          <tbody>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Especificaciones</th>              
              <th></th>
            </tr>
            <% @equipments.each_with_index do |equipment, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= equipment.name %></td>
                <td><%= sanitize equipment.specifications %></td>                    
                <td style="text-align: right;"><%= link_to 'Actualizar', edit_equipment_path(equipment), class: "btn btn-info" %>
                <%= link_to 'Eliminar', equipment, method: :delete, class: "btn btn-danger", data: { confirm: '¿Está usted seguro?' } %>                        
                </td>
              </tr>
            <% end %>                  
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>