<table class="table">
  <tbody>
    <tr>
      <th style="width:75%" class="text-right">Total productos:</th>
      <td>
        <span id="total_to_paid"><%= number_to_currency total_printing_sales[:total_products] %></span>
      </td>
    </tr>
    <tr>
      <th class="text-right">Tipo de Pago:</th>
      <td>
        <div class="input-group" style="width: 100%;">
          <%= collection_select(:printing_sale, :payment_type_id, PaymentType.all.order(:id), :id, :name, { prompt: 'Seleccione un tipo de pago' }, class: 'form-control', required: true, style: "width: 100%;")  %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="text-right">
        <div class="radio">
          <label><strong>Pago Parcial</strong><%= radio_button("printing_sale", "total_paid", false, style: "margin-left: 10px;") %></label>
        </div>
      </td>
      <td class="text-center">
        <div class="radio">
          <label><strong>Pago Total</strong><%= radio_button("printing_sale", "total_paid", true, checked: true, style: "margin-left: 10px;") %></label>
        </div>
      </td>
    </tr>
    <tr style="display: none;" id="id_client">
      <th style="width:70%" class="text-right">Cliente:</th>
      <td><%= select_tag "clients[]", options_for_select([]), { class: 'form-control autocomplete_clients', required: true, prompt: "Buscar cliente" } %></td>
    </tr>
    <tr>
      <th class="text-right">Pago con:</th>
      <td>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= text_field_tag "printing_sale[paid_with]", '', class: "form-control form-control-sm", id: 'paid_with_printing_sale', required: true %>
        </div>
      </td>
    </tr>
    <tr style="display: none;" id="id_payment">
      <th class="text-right">Abona:</th>
      <td>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= text_field_tag "printing_sale[payment]", '', class: "form-control form-control-sm", id: 'payment_printing_sale', required: true %>
        </div>
      </td>
    </tr>
    <tr>
      <th class="text-right">Cambio:</th>
        <td>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= text_field_tag "printing_sale[change]", '', class: "form-control form-control-sm", id: 'change-printing-sale', required: true, readonly: true %>
          </div>
        </td>
    </tr>
    <tr style="display: none;" id="id_difference">
      <th class="text-right">Resta:</th>
        <td>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= text_field_tag "printing_sale[difference]", '', class: "form-control form-control-sm", id: 'difference-printing-sale', required: true, readonly: true %>
          </div>
        </td>
    </tr>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    var $paidWithSale = $('#paid_with_printing_sale');
    var $payment = $('#payment_printing_sale');
    var $change = $("#change-printing-sale");
    var $paymentTypeSale = $("#printing_sale_payment_type_id");
    var $difference = $("#difference-printing-sale");
    var $clients = $("#clients_");

    setCurrency($paidWithSale);
    setCurrency($payment);
    setCurrency($change);
    setCurrency($difference);
    obtainChangeSale();

    $paidWithSale.keyup(function() {
      obtainChangeSale();
    });

    $payment.keyup(function() {
      obtainChangeSale();
    });

    updatePaymentSale($paymentTypeSale.find("option:selected").attr('value'));

    $paymentTypeSale.change(function() {
      updatePaymentSale($(this).find("option:selected").attr('value'));
    });
  });

  function obtainChangeSale() {
    var $paidWithSale = $('#paid_with_printing_sale');
    var $totalPaid = $('#total_to_paid');
    var $change = $("#change-printing-sale");
    var $btnPaid = $("#make_printing_sale_link");
    var $totalOrParcialPaid = $('input[type=radio][name="printing_sale[total_paid]"]:checked');

    console.log("$totalOrParcialPaid: " + $totalOrParcialPaid.val());

    if($totalOrParcialPaid.val() == 'true') { // Total payment
      console.log("Total Payment");

      var paidWith = Number($paidWithSale.val().replace(/,/g, ""));
      var totalPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""))
      var change = (paidWith - totalPaid).toFixed(2);

      console.log(paidWith);
      console.log(totalPaid);
      console.log(change.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));

      $change.val(change);

      if(change < 0 || totalPaid <= 0) {
        $btnPaid.attr("disabled", true);
      } else {
        $btnPaid.removeAttr("disabled");
      }
    } else { // Parcial payment
      console.log("Parcial Payment");

      var $payment = $('#payment_printing_sale');
      var $difference = $('#difference-printing-sale');
      var $paymentTypeSale = $("#printing_sale_payment_type_id");
      var $clients = $("#clients_");

      if($paymentTypeSale.val() == "1") { // Efectivo
        console.log("Efectivo Parcial Payment");

        var paidWith = Number($paidWithSale.val().replace(/,/g, ""));
        var payment = Number($payment.val().replace(/,/g, ""));
        var totalPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""))
        var change = (paidWith - payment).toFixed(2);
        var difference = (totalPaid - payment).toFixed(2);

        console.log(paidWith);
        console.log(totalPaid);
        console.log(change.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));

        $change.val(change);
        $difference.val(difference);

        if(change < 0 || totalPaid <= 0 || (payment >= totalPaid) || ($clients.val() == "") || payment <= 0) {
          $btnPaid.attr("disabled", true);
        } else {
          $btnPaid.removeAttr("disabled");
        }
      } else { // Tarjeta Payment
        console.log("Tarjeta Parcial Payment");

        var paidWith = Number($paidWithSale.val().replace(/,/g, ""));
        var payment = paidWith;
        var totalPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""))
        var change = (paidWith - payment).toFixed(2);
        var difference = (totalPaid - payment).toFixed(2);

        console.log(paidWith);
        console.log(totalPaid);
        console.log(change.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));

        $change.val(change);
        $payment.val(payment);
        $difference.val(difference);

        if(change < 0 || totalPaid <= 0 || (payment >= totalPaid) || ($clients.val() == "") || payment <= 0) {
          $btnPaid.attr("disabled", true);
        } else {
          $btnPaid.removeAttr("disabled");
        }
      }
    }
  }

  function updatePaymentSale(paymentMethod) {
      var $totalPaid = $('#total_to_paid');
      var $paidWithSale = $('#paid_with_printing_sale');
      var $payment = $('#payment_printing_sale');
      var $totalOrParcialPaid = $('input[type=radio][name="printing_sale[total_paid]"]:checked');

      // Check payment method
      if(paymentMethod == "") { // No selecciono metodo de pago
        $paidWithSale.val(0);
        $paidWithSale.prop("readonly",true);
        $payment.val(0);
        $payment.prop("readonly",true);
        obtainChangeSale();
        return;
      }

      if(paymentMethod != "1") { // Debito, Credito
        if($totalOrParcialPaid.val() == 'true') { // Pago total
          var totalToPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""));
          $paidWithSale.val(totalToPaid);
          $paidWithSale.prop("readonly",true);
          obtainChangeSale();
        } else {
          $paidWithSale.val(0);
          $paidWithSale.prop("readonly",false);
          $payment.val(0);
          $payment.prop("readonly",true);
          obtainChangeSale();
        }
      } else { // Efectivo
        if($totalOrParcialPaid.val() == 'true') { // Pago total
          $paidWithSale.val(0);
          $paidWithSale.prop("readonly",false);
          obtainChangeSale();
        } else {
          $paidWithSale.val(0);
          $paidWithSale.prop("readonly",false);
          $payment.val(0);
          $payment.prop("readonly",false);
          obtainChangeSale();
        }
      }
  }
</script>

<script>
  $(document).ready(function() {
    $('.autocomplete_clients').select2({
  		minimumInputLength: 1,
  		ajax: {
  			delay: 250,
  			url: "/clients/autocomplete",
  			dataType: 'json',
  			cache: true
  		},
  		escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
      templateResult: formatRepoClient,
      templateSelection: formatRepoSelectionClient
  	});
    $('.autocomplete_clients').on('select2:select', function (e) {
        var data = e.params.data;
        $("#quotation_client_id").val(data.id);
        obtainChangeSale();
    });
  });
</script>

<!-- Check total o parcial paid -->
<script>
  $('input[type=radio][name="printing_sale[total_paid]"]').change(function() {
    var $paymentMethod = $("#printing_sale_payment_type_id");
    var $client = $("#clients_");
    var $paidWithSale = $('#paid_with_printing_sale');
    var $payment = $("#payment_printing_sale");

    if (this.value == 'true') {
      // Total payment
      $("#id_client").css('display', 'none');
      $("#id_difference").css('display', 'none');
      $("#id_payment").css('display', 'none');

      if($paymentMethod.val() == "") { // No se eligio metodo de pago
        $paidWithSale.val(0);
        $paidWithSale.prop("readonly",true);
        $payment.val(0);
        $payment.prop("readonly",true);
        obtainChangeSale();
        return;
      }

      if($paymentMethod.val() != "1") { // Debito, Credito
        var totalToPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""));
        $paidWithSale.val(totalToPaid);
        $paidWithSale.prop("readonly",true);
        obtainChangeSale();
        return;

      } else { // Efectivo
        $paidWithSale.val(0);
        $paidWithSale.prop("readonly",false);
        obtainChangeSale();
        return;
      }
    }
    else if (this.value == 'false') {
      // Parcial payment
      $("#id_client").css('display', 'table-row');
      $("#id_difference").css('display', 'table-row');
      $("#id_payment").css('display', 'table-row');

      if($paymentMethod.val() == "") { // No se eligio metodo de pago
        $paidWithSale.val(0);
        $paidWithSale.prop("readonly",true);
        $payment.val(0);
        $payment.prop("readonly",true);
        obtainChangeSale();
        return;
      }

      if($paymentMethod.val() != "1") { // Debito, Credito
        $paidWithSale.val(0);
        $paidWithSale.prop("readonly",false);
        $payment.val(0);
        $payment.prop("readonly",true);
        obtainChangeSale();
      } else { // Efectivo
        $paidWithSale.val(0);
        $paidWithSale.prop("readonly",false);
        $payment.val(0);
        $payment.prop("readonly",false);
        obtainChangeSale();
        return;
      }
    }
});

</script>
