<table class="table">
  <tbody>
    <tr>
      <th style="width:75%" class="text-right">Total productos:</th>
      <td>
        <span id="total_to_paid"><%= number_to_currency total_printing_sales[:total_products] %></span>
      </td>
    </tr>
    <tr>
      <th class="text-right">Tipo de Pago:</th>
      <td>
        <div class="input-group" style="width: 100%;">
          <%= collection_select(:printing_sale, :payment_type_id, PaymentType.all.order(:id), :id, :name, { prompt: 'Seleccione un tipo de pago' }, class: 'form-control', required: true, style: "width: 100%;")  %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="text-right">
        <div class="radio">
          <label><strong>Pago Parcial</strong><%= radio_button("printing_sale", "total_paid", false, style: "margin-left: 10px;") %></label>
        </div>
      </td>
      <td class="text-center">
        <div class="radio">
          <label><strong>Pago Total</strong><%= radio_button("printing_sale", "total_paid", true, checked: true, style: "margin-left: 10px;") %></label>
        </div>
      </td>
    </tr>
    <tr>
      <th style="width:70%" class="text-right">Cliente:</th>
      <td><%= select_tag "clients[]", options_for_select([]), { class: 'form-control autocomplete_clients', required: true, prompt: "Buscar cliente" } %></td>
    </tr>
    <tr>
      <th class="text-right">Pago con:</th>
      <td>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= text_field_tag "printing_sale[paid_with]", '', class: "form-control form-control-sm", id: 'paid_with_printing_sale', required: true %>
        </div>
      </td>
    </tr>
    <tr>
      <th class="text-right">Cambio:</th>
        <td>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= text_field_tag "printing_sale[change]", '', class: "form-control form-control-sm", id: 'change-printing-sale', required: true, readonly: true %>
          </div>
        </td>
    </tr>
    <tr>
      <th class="text-right">Resta:</th>
        <td>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= text_field_tag "printing_sale[difference]", '', class: "form-control form-control-sm", id: 'difference-printing-sale', required: true, readonly: true %>
          </div>
        </td>
    </tr>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    var $paidWithSale = $('#paid_with_printing_sale');
    var $change = $("#change-printing-sale");
    var $paymentTypeSale = $("#printing_sale_payment_type_id");

    setCurrency($paidWithSale);
    setCurrency($change)
    obtainChangeSale();

    $paidWithSale.keyup(function() {
      obtainChangeSale();
    });

    updatePaymentSale($paymentTypeSale.find("option:selected").attr('value'));

    $paymentTypeSale.change(function() {
      updatePaymentSale($(this).find("option:selected").attr('value'));
    });
  });

  function obtainChangeSale() {
    var $paidWithSale = $('#paid_with_printing_sale');
    var $totalPaid = $('#total_to_paid');
    var $change = $("#change-printing-sale");
    var $btnPaid = $("#make_printing_sale_link");

    var paidWith = Number($paidWithSale.val().replace(/,/g, ""));
    var totalPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""))
    var change = (paidWith - totalPaid).toFixed(2);
    $change.val(change);
    console.log(paidWith);
    console.log(totalPaid);
    console.log(change.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));

    if(change < 0 || totalPaid <= 0) {
      $btnPaid.attr("disabled", true);
    } else {
      $btnPaid.removeAttr("disabled");
    }
  }

  var $discountSale = $("#discount-printing-sale");
  $discountSale.on("keydown", _.debounce(updateDiscountSale, 300));
  setPercentage($discountSale);

  function updateDiscountSale() {
      $.ajax({
        url: "/printing_sales/update_discount",
        method: "put",
        dataType: "script",
        data: {
          discount: $(this).val()
        },
        beforeSend: function(xhr) {
          $("#total_to_paid").LoadingOverlay("show");
        },
        complete: function(xhr, status) {
          $("#total_to_paid").LoadingOverlay("hide", true);
        }
      });
    }

  function updatePaymentSale(paymentMethod) {
      var $totalPaid = $('#total_to_paid');
      var $paidWithSale = $('#paid_with_printing_sale');
      // Check payment method
      if(paymentMethod == "") { // No selecciono metodo de pago
        $paidWithSale.val(0);
        $paidWithSale.prop("readonly",true);
        obtainChangeSale();
        return;
      }

      if(paymentMethod != "1") {
        var totalToPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""));
        $paidWithSale.val(totalToPaid);
        $paidWithSale.prop("readonly",true);
        obtainChangeSale();
      } else {
        $paidWithSale.val(0);
        $paidWithSale.prop("readonly",false);
        obtainChangeSale();
      }
  }
</script>

<script>
  $(document).ready(function() {
    $('.autocomplete_clients').select2({
  		minimumInputLength: 1,
  		ajax: {
  			delay: 250,
  			url: "/clients/autocomplete",
  			dataType: 'json',
  			cache: true
  		},
  		escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
      templateResult: formatRepoClient,
      templateSelection: formatRepoSelectionClient
  	});
    $('.autocomplete_clients').on('select2:select', function (e) {
        var data = e.params.data;
        $("#quotation_client_id").val(data.id);
    });
  });
</script>
