<tbody>
<tr>
  <th>No.</th>
  <th>Cobrado el</th>
  <th>Ticket</th>
  <th>Cobrado por</th>
  <th>Cantidad</th>
</tr>
<% @sales.each_with_index do |sale, index| %>
  <% total_parcial_payments = sale.total_parcial_payments %>
  <tr>
    <td><%= @index %></td>
    <td><%= date_time_helper(sale.updated_at) %></td>
    <td><%= link_to sale.ticket, "javascript:void(0);", data: {url: generate_ticket_printing_sale_path(sale, format: :pdf)}, class: "ticket_sale" %></td>
    <td><%= sale.user.formal_name %></td>
    <td><%= number_to_currency(sale.payment + total_parcial_payments) %></td>
    <% if @total.present? %>
      <% @total += total_parcial_payments %>
    <% end %>
  </tr>
  <% @index += 1 %>
<% end %>
<% if @total.present? %>
  <tr>
    <td colspan="4" class="text-right" style="color: #3c8dbc;"><strong>Total Ingresos</strong></td>
    <td><%= number_to_currency @total %></td>
  </tr>
<% end %>
</tbody>

<script>
    $(document).ready(function() {
        $('.ticket_sale').click(function() {
            printPage($(this), $(this).data("url"));
        });
    });
</script>