
<%= form_for(@client) do |f| %>
  
  <div class="form-inputs">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
