<div class="box box-warning" id="equipment_customer_<%= equipment_customer.id %>">
  <div class="box-header with-border">
    <h3 class="box-title"><%= equipment_customer.title_header.html_safe %></h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Descripción</label>
          <div class="form-control" readonly style="height: auto;">
            <%= sanitize equipment_customer.description %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= render 'equipment_customers/message_history_form', equipment_customer: equipment_customer %>
      </div>
    </div>
  </div>
  <!-- /.box-body -->

  <div class="box-footer">
      <div class="input-group col-sm-12">
        <button type="button" id="add-history-message-<%= equipment_customer.id %>" class="btn btn-primary pull-right" data-disable-with="Guardar">Guardar</button>    
      </div>
  </div>


</div>

<script>
  $("#equipment_customer_<%= equipment_customer.id %>").boxWidget({});
  $("#add-history-message-<%= equipment_customer.id %>").click(function() {
    var $that = $(this);
    console.log("Detected click event");
    message = $("#message_history_message_<%= equipment_customer.id %>").val();

    if(message.length === 0) {
      console.log("Detected lenght is zero");
      return;
    }

    console.log("Sending ajax call");
    $.ajax({
      url: '/equipment_customers/add_history_message',
      dataType: 'script',
      method: 'post',
      data: {
        equipment_customer_id: <%=  equipment_customer.id %>,
        message: message
      },
      beforeSend: function(xhr) {
          $that.html('Guardando...');
        },
        complete: function(xhr) {
          $that.html('Guardar');
        }
    })    
  });  
</script>
