<button class="box-header with-border accordion">
  <h3 class="box-title"><%= equipment_customer.title_header.html_safe %></h3>
</button>
<div class="panel">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group" style="margin-top: 15px;">
        <label>Modelo</label>
        <div class="form-control" readonly>
          <%= equipment_customer.equipment_model.name %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="text-center" style="display: block;">COMPONENTES QUE DEJA CON EL EQUIPO</label>
        <div class="text-center">
        <% Component.all.each do |component| %>
          <div style="display: inline-block; margin: 10px;">
            <label>
                <%= check_box_tag "equipment_customer[component_ids][]", component.id, equipment_customer.components.include?(component), disabled: true %>
                <%= component.name %>
            </label>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Descripción</label>
        <div class="form-control" readonly style="height: auto;">
          <%= sanitize equipment_customer.description %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'equipment_customers/message_history_form', equipment_customer: equipment_customer %>
    </div>
    <div class="input-group col-sm-12">
      <% if @service.is_in_process? %>
        <button type="button" id="add-history-message-<%= equipment_customer.id %>" class="btn btn-primary btn-block" data-disable-with="Guardar">Guardar</button>
      <% end %>
    </div>
  </div>
</div>


<script>
  $("#equipment_customer_<%= equipment_customer.id %>").boxWidget({});
  $("#add-history-message-<%= equipment_customer.id %>").click(function() {
    var $that = $(this);
    console.log("Detected click event");
    message = $("#message_history_message_<%= equipment_customer.id %>").val();

    if(message.length === 0) {
      console.log("Detected lenght is zero");
      return;
    }

    console.log("Sending ajax call");
    $.ajax({
      url: '/equipment_customers/add_history_message',
      dataType: 'script',
      method: 'post',
      data: {
        equipment_customer_id: <%=  equipment_customer.id %>,
        message: message
      },
      beforeSend: function(xhr) {
          $that.html('Guardando...');
        },
        complete: function(xhr) {
          $that.html('Guardar');
        }
    })
  });
</script>
