<div class="box box-warning" id="equipment_customer_<%= equipment_customer.id %>">
  <div class="box-header with-border">
    <h3 class="box-title"><%= equipment_customer.title_header.html_safe %></h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Descripción</label>
          <div class="form-control" readonly style="height: auto;">
            <%= sanitize equipment_customer.description %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= render 'equipment_customers/message_history_form', equipment_customer: equipment_customer %>
      </div>
    </div>
  </div>
  <!-- /.box-body -->

  <div class="box-footer">
      <div class="input-group col-sm-12">
        <% unless equipment_customer.new_record? %>
          <%= form_for(equipment_customer) do |f| %>
            <%= text_field_tag 'message_history[message]', nil, placeholder: 'Registrar mensaje...', class: 'form-control' %>
            <%= f.submit "Guardar", class: "btn btn-primary pull-right" %>
          <% end %>
        <% end %>
      </div>
  </div>


</div>

<script>
  $("#equipment_customer_<%= equipment_customer.id %>").boxWidget({})
</script>
