<%= form_for(@new_equipment_customer) do |f| %>
<div class="form-row">
  <div class="form-group col-md-6">
    <label class="col-form-label">Cliente</label>
    <%= f.collection_select :client_id, Client.all, :id, :name, { prompt: "Seleccione un cliente" }, class: "form-control" %>
    <div class="invalid-feedback"><%= @new_equipment_customer.errors[:client_id].first %></div>
  </div>
  <div class="form-group col-md-6">
    <label class="col-form-label">Folio Nota</label>
    <%= f.text_field :folio, class: "form-control" %>
    <div class="invalid-feedback"><%= @new_equipment_customer.errors[:folio].first %></div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label class="col-form-label">Equipo</label>
    <%= f.collection_select :equipment_id, Equipment.all, :id, :name, { prompt: "Seleccione un equipo" }, class: "form-control" %>
    <div class="invalid-feedback"><%= @new_equipment_customer.errors[:equipment_id].first %></div>
  </div>
  <div class="form-group col-md-6">
    <label class="col-form-label">Marca</label>
    <%= f.collection_select :brand_id, Brand.all, :id, :name, { prompt: "Seleccione una marca" }, class: "form-control" %>
    <div class="invalid-feedback"><%= @new_equipment_customer.errors[:brand_id].first %></div>
  </div>
</div>
<div class="form-group">
  <label class="col-form-label">Descripción</label>
  <%= f.text_area :description, class: "form-control", rows: 3 %>
  <div class="invalid-feedback"><%= @new_equipment_customer.errors[:description].first %></div>
</div>
<%= f.submit "Guardar", class: "btn btn-primary" %>
<% end %>
