<%= form_for(new_equipment_customer, remote: true) do |f| %>
  <%= f.hidden_field :service_id, value: service.id %>

  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12" style="padding-left:0px;">
        <div class="form-group <%= 'has-error' if new_equipment_customer.errors[:equipment_id].first %>">
          <label>Equipo:</label>
          <%= f.collection_select :equipment_id, [], :id, :name, { prompt: "Seleccione un equipo" }, class: "form-control autocomplete_equipments", required: true, autofocus: true %>
          <div class="help-block"><%= new_equipment_customer.errors[:equipment_id].first %></div>
        </div>
      </div>

      <div class="col-md-12" style="padding-left:0px;">
        <div class="form-group">
          <label>Marca:</label>
          <%= f.collection_select :brand_id, [], :id, :name, { prompt: "Seleccione una marca" }, class: "form-control autocomplete_brands", required: true %>
          <div class="invalid-feedback"><%= new_equipment_customer.errors[:brand_id].first %></div>
        </div>
      </div>

      <div class="col-md-12" style="padding-left:0px;">
        <div class="form-group <%= 'has-error' if new_equipment_customer.errors[:equipment_model_id].first %>">
          <label>Modelo:</label>
          <%= f.collection_select :equipment_model_id, [], :id, :name, { prompt: "Seleccione un modelo" }, class: "form-control autocomplete_equipment_models", required: true %>
          <div class="help-block"><%= new_equipment_customer.errors[:equipment_model_id].first %></div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h2>COLOCAR LA IMAGEN</h2>
    </div>
  </div>

  <div class="row">
    <label class="text-center" style="display: block;">COMPONENTES QUE DEJA CON EL EQUIPO</label>
    <div class="col-sm-6">
      <div class="form-group row">
        <% components[0..2].each do |component| %>
          <%= render 'components/component', component: component, is_present: select_component(new_equipment_customer, component), disabled: false %>
        <% end %>
      </div>
      <div class="form-group row">
        <% components[-3..-1].each do |component| %>
          <%= render 'components/component', component: component, is_present: select_component(new_equipment_customer, component), disabled: :false %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group <%= 'has-error' if new_equipment_customer.errors[:equipment_model_id].first %>">
        <label>Cable:</label>
        <%= f.collection_select :cable_type_id, [], :id, :name, { prompt: "Seleccione un cable" }, class: "form-control autocomplete_cable_types", required: true %>
        <div class="help-block"><%= new_equipment_customer.errors[:cable_type_id].first %></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Descripción:</label>
        <%= f.text_area :description, class: "form-control textarea_new_equipment_customer" %>
        <div class="invalid-feedback"><%= new_equipment_customer.errors[:description].first %></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render 'message_histories/form', equipment_customer: new_equipment_customer %>
    </div>
  </div>

  <%= f.submit "Guardar", class: "btn btn-primary btn-block" %>
<% end %>

<script>
  $(document).ready(function() {
    $('.autocomplete_cable_types').select2(
      setupSelect("/equipment_customers/autocomplete_cable_types")
    );

    $('.autocomplete_equipments').select2(
      setupSelect("/equipments/autocomplete")
    );

    $('.autocomplete_brands').select2(
      setupSelect("/brands/autocomplete")
    );

    $('.autocomplete_equipment_models').select2(
      setupSelect("/equipment_models/autocomplete")
    );

    $('.textarea_new_equipment_customer').wysihtml5();
  });
</script>
