<div class="container-fluid">
  <%= render 'pdfs/header_note', {note: @note_quotation, title: 'Número:'} %>
  <section class="section-blue m-b-20"></section>

  <div class="row">
    <div class="col-xs-12  b-c-g">
      <h3 class="text-center not-margin-top"><strong>DATOS DEL CLIENTE</strong></h3>
    </div>
  </div>

  <div class="row border">
    <div class="col-xs-12">
      <h5><%= "Cliente: " + @note_quotation.client[:name] %></h5>
      <h5><%= "Direccion: " + @note_quotation.client[:address] %></h5>
      <h5><%= "Teléfono Fijo: " + @note_quotation.client[:home_phone] %></h5>
      <h5><%= "Teléfono Movil: " + @note_quotation.client[:mobile_phone] %></h5>
      <h5><%= "Correo: " + @note_quotation.client[:email] %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 text-left">
      <h3><strong>Código</strong></h3>
    </div>
    <div class="col-xs-3 text-left">
      <h3><strong>Descripción</strong></h3>
    </div>
    <div class="col-xs-3 text-left">
      <h3><strong>Cantidad</strong></h3>
    </div>
    <div class="col-xs-3 text-left">
      <h3><strong>Precio</strong></h3>
    </div>
  </div>
  <% @note_quotation.equipment_customers.each do |quotation_product| %>
    <div class="row">
      <div class="col-xs-3 text-left">
        <h4><%= quotation_product.code %></h4>
      </div>
      <div class="col-xs-3 text-left">
        <h4><%= quotation_product.name %></h4>
      </div>
      <div class="col-xs-3 text-center">
        <h4><%= quotation_product.quantity %></h4>
      </div>
      <div class="col-xs-3 text-left">
        <h4><%= number_to_currency quotation_product.real_price %></h4>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-6 text-right">
      <h4><strong>Total:</strong></h4>
    </div>
    <div class="col-xs-3 text-left">
      <h4><%= number_to_currency @note_quotation.totals %></h4>
    </div>
  </div>

  <div class="row" style="margin-top: 20px !important;">
    <h4 class="term-cond text-center">
      <%= "Cotizacion valida hasta el #{l @note_quotation.valid_until, format: '%A, %d %b %Y'}" %>
    </h4>
  </div>
</div>
