<div class="container-fluid">
  <div class="row alwaysbreak">
  <div class="col-xs-7">
    <%= image_tag wicked_pdf_asset_base64('logo_nota_servicios.jpg'), class: 'img-responsive', style: "height: 290px;" %>
  </div>
  <div class="col-xs-5">
    <h3 class="text-center"><%= "FECHA: " + @note_service.date %></h3>
    <div class="m-b-10 text-right">
      <h3 style="display: inline-block;" class="not-margin text-right">
        <strong>Cotización Número:</strong>
      </h3>
      <h1 class="number-folio red not-margin"><%= @note_service.folio %></h1>
    </div>
    <h3 class="not-margin-top text-right"><%= @note_service.street %></h3>
    <h3 class="f-s-a-f not-margin-top text-right"><%= @note_service.city %></h3>
    <div class="m-b-10 row">
      <div class="col-xs-6">
        <h3 class="not-margin"><%= @note_service.telephones[:one] %></h3>
      </div>
      <div class="col-xs-6 text-right">
        <h3 class="not-margin"><%= @note_service.telephones[:two] %></h3>
      </div>
    </div>
    <h3 class="not-margin-top text-right"><%= @note_service.email %></h3>
    <h3 class="not-margin-top red">HORARIO: 9:00 am 8:30 pm</h3>
  </div>
  </div>

  <section class="section-blue m-b-20"></section>

  <div class="row">
    <div class="col-xs-12  b-c-g">
      <h4 class="text-center not-margin-top"><strong>DATOS DEL CLIENTE</strong></h4>
    </div>
  </div>

  <div class="row border">
    <div class="col-xs-12">
      <p><%= "Cliente: " + @note_quotation.client[:name] %></p>
      <p><%= "Teléfono: " + @note_quotation.client[:home_phone] %></p>
      <p><%= "Correo: " + @note_quotation.client[:email] %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 text-center">
      <h3>Código</h3>
    </div>
    <div class="col-xs-3 text-center">
      <h3>Descripción</h3>
    </div>
    <div class="col-xs-3 text-center">
      <h3>Cantidad</h3>
    </div>
    <div class="col-xs-3 text-center">
      <h3>Precio</h3>
    </div>
  </div>
  <% @note_quotation.equipment_customers.each do |quotation_product| %>
    <div class="row">
      <div class="col-xs-3 text-center">
        <%= quotation_product.code %>
      </div>
      <div class="col-xs-3 text-center">
        <%= quotation_product.name %>
      </div>
      <div class="col-xs-3 text-center">
        <%= quotation_product.quantity %>
      </div>
      <div class="col-xs-3 text-center">
        <%= number_to_currency quotation.real_price %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-9">
      <%= "Total #{number_to_currency @note_quotation.totals}" %>
    </div>
  </div>

  <div class="row">
    <ul class="term-cond">
      <li class="m-l-15">Para retirar el equipo es indispensable presentar esta orden de servicio. !Conservala!</li>
    </ul>
  </div>
</div>
