<% invitation_printing_products.each_with_index do |invitation_printing_product, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= invitation_printing_product.printing_product.code %></td>
    <td><%= invitation_printing_product.printing_product.name %></td>
    <td><%= invitation_printing_product.printing_product.sale_unit %></td>
    <td style="width: 1px;">
      <%= link_to delete_invitation_printing_product_invitation_path(invitation_printing_product), method: :delete, class: 'btn btn-danger', data: { confirm: '¿Está usted seguro?', remote: true }, style: 'padding: 3px 5px;' do %>
        <i class="fa fa-fw fa-close"></i>
      <% end %>
    </td>
  </tr>
<% end %>
