<% @note_service.equipment_customers.each do |equipment_customer| %>
  <div class="row">
    <div class="col-xs-7" style: "height: 290px;">
      <%#= image_tag wicked_pdf_asset_base64('logo_nota_servicios.jpg'), class: 'img-responsive', style: "height: 290px;" %>
    </div>
    <div class="col-xs-5">
      <h3 class="text-center"><%= "FECHA: " + @note_service.date %></h3>
      <div class="m-b-10 text-right">
        <h3 style="display: inline-block;" class="not-margin text-right">
          <strong>ORDEN:</strong>
        </h3>
        <h1 class="number-folio red not-margin"><%= @note_service.folio %></h1>
      </div>
      <h3 class="not-margin-top text-right"><%= @note_service.street %></h3>
      <h3 class="f-s-a-f not-margin-top text-right"><%= @note_service.city %></h3>
      <div class="m-b-10 row">
        <div class="col-xs-6">
          <h3 class="not-margin"><%= @note_service.telephones[:one] %></h3>
        </div>
        <div class="col-xs-6 text-right">
          <h3 class="not-margin"><%= @note_service.telephones[:two] %></h3>
        </div>
      </div>
      <h3 class="not-margin-top text-right"><%= @note_service.email %></h3>
      <h3 class="not-margin-top red">HORARIO: 9:00 am 8:30 pm</h3>
    </div>
  </div>
  <section class="section-blue m-b-20"></section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6  b-c-g">
        <h4 class="text-center not-margin-top"><strong>DATOS DEL CLIENTE</strong></h4>
      </div>
      <div class="col-xs-6  b-c-g border-left">
        <h4 class="text-center not-margin-top"><strong>DATOS DEL EQUIPO</strong></h4>
      </div>
    </div>

    <div class="row border">
      <div class="col-xs-6">
        <p><%= "Cliente: " + @note_service.client[:name] %></p>
        <p><%= "Teléfono: " + @note_service.client[:home_phone] %></p>
        <p><%= "Correo: " + @note_service.client[:email] %></p>
      </div>
      <div class="col-xs-6 border-left">
        <p><%= "Marca: " + equipment_customer.brand.name %></p>
        <p><%= "Modelo: " + equipment_customer.equipment_model.name %></p>
        <p><%= "No. Serie: " + equipment_customer.serie_number %></p>
        <p><%= "Fecha Ingreso: " + equipment_customer.created_at.strftime("%d/%m/%Y") %></p>
      </div>
    </div>

    <div class="row border-not-top">
      <div class="col-xs-12">
        <p>Desperfecto:</p>
        <%= sanitize(equipment_customer.description) %>
      </div>
    </div>

    <h4>Componentes que deja con el equipo:</h4>

    <div class="row row-eq-height">
      <div class="col-xs-6">
        <div class="row">
          <% @components[0..2].each do |component| %>
            <%= render partial: 'components/component_note', locals: { component: component, check_component: check_component?(equipment_customer, component)} %>
            <% end %>
        </div>
        <div class="row">
          <% @components[-3..-1].each do |component| %>
            <%= render partial: 'components/component_note', locals: { component: component, check_component: check_component?(equipment_customer, component)} %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6 border">
        <%= sanitize equipment_customer.component_description %>
      </div>
    </div>

    <h4>Términos y condiciones</h4>

    <div class="row">
      <ul class="term-cond">
        <li class="m-l-15">Para retirar el equipo es indispensable presentar esta orden de servicio. !Conservala!</li>
        <li class="m-l-15">El equipo debe ser retirado en un plazo máximo de 30 días después de confirmarle que se a concluido
          la reparación, pasado dicho tiempo PC tienda & reparación no se hace responsable del o los equipos.</li>
        <li class="m-l-15">Al dejar el equipo el cliente acepta estas condiciones.</li>
      </ul>
    </div>
  </div>

  <div class="container-fluid b-t-d">
    <div class="row m-t-20">
      <div class="col-xs-6 b-c-g">
        <h4 class="text-center not-margin-top"><strong>DATOS DEL CLIENTE</strong></h4>
      </div>
      <div class="col-xs-6 b-c-g border-left">
        <h4 class="text-center not-margin-top"><strong>DATOS DEL EQUIPO</strong></h4>
      </div>
    </div>

    <div class="row border">
      <div class="col-xs-6">
        <p><%= "Cliente: " + @note_service.client[:name] %></p>
        <p><%= "Teléfono: " + @note_service.client[:home_phone] %></p>
        <p><%= "Correo: " + @note_service.client[:email] %></p>
      </div>
      <div class="col-xs-6 border-left">
        <p>Orden: <span class="red">000001</span></p>
        <p><%= "Marca: " + equipment_customer.brand.name %></p>
        <p><%= "Modelo: " + equipment_customer.equipment_model.name %></p>
        <p><%= "No. Serie: " + equipment_customer.serie_number %></p>
        <p><%= "Fecha Ingreso: " + equipment_customer.created_at.strftime("%d/%m/%Y") %></p>
      </div>
    </div>
  </div>
<% end %>
