<!-- header -->
<div class="row">
<p style='margin: 0; text-align: center;'>
  <strong><%= @ticket_service.header[:title] %></strong>
</p>
<p style='margin: 5px 0 0 0; text-align: center;'>
  <strong>Domicilio</strong>
</p>
<p style='margin: 0; text-align: center;'>
  <strong><%= @ticket_service.header[:street] %></strong>
</p>
<p style='margin: 0; text-align: center;'>
  <strong><%= @ticket_service.header[:address] %></strong>
</p>
<p style='margin: 0; text-align: center;'>
  <strong><%= @ticket_service.header[:city] %></strong>
</p>
<p style='margin: 5px 0 0 0; text-align: center;'>
  <strong>RFC. <%= @ticket_service.header[:rfc] %></strong>
</p>
<p style='margin: 5px 0 0 0; text-align: center;'>
  <strong>Sucursal: <%= @ticket_service.header[:sucursal] %></strong>
</p>
</div>
<!-- end_header -->

<div class="row">
  <p style="margin: 5px 0 0 0;">
    <strong><%= @ticket_service.date %></strong>
  </p>
</div>

<div class="row">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0;">
      <span style='float: left; width: 50%; display: inline-block;'>
        <strong>Ticket: <%= @ticket_service.ticket %></strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong>Número Orden: <%= @ticket_service.folio %></strong>
      </span>
    </p>
  </div>
</div>

<div style="clear: both"></div>

<table class="table table-condensed">
      <thead>
        <tr>
          <th>CODIGO</th>
          <th colspan="2">DESCRIPCIÓN</th>
        </tr>
        <tr>
          <th>CANT</th>
          <th>PU</th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <% @ticket_service.spare_parts.each do |spare_part| %>
          <tr>
            <td><%= spare_part[:code] %></td>
            <td colspan="2"><%= spare_part[:description] %></td>
          </tr>
          <tr>
            <td><%= spare_part[:quantity] %></td>
            <td><%= number_to_currency spare_part[:price] %></td>
            <td><%= number_to_currency spare_part[:total] %></td>
          </tr>
        <% end %>
      </tbody>
</table>

<div class="row">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0 0 0;">
      <span style='float: left; width: 50%; display: inline-block; text-align: right;'>
        <strong>Subtotal:</strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong><%= number_to_currency @ticket_service.totals[:subtotal] %></strong>
      </span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0 0 0;">
      <span style='float: left; width: 50%; display: inline-block; text-align: right;'>
        <strong>Descuentos:</strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong><%= number_to_currency @ticket_service.totals[:discount] %></strong>
      </span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0 0 0;">
      <span style='float: left; width: 50%; display: inline-block; text-align: right;'>
        <strong>Total M.N.:</strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong><%= number_to_currency @ticket_service.totals[:total] %></strong>
      </span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0 0 0;">
      <span style='float: left; width: 50%; display: inline-block; text-align: right;'>
        <strong>Pago >> <%= @ticket_service.type_paid %></strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong><%= number_to_currency @ticket_service.totals[:paid] %></strong>
      </span>
    </p>
  </div>
</div>

<div style="clear: both"></div>

<div class="row" style="margin: 10px 0 0 0">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0 0 0;">
      <span style='float: left; width: 50%; display: inline-block; text-align: right;'>
        <strong>Cambio:</strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong><%= number_to_currency @ticket_service.totals[:change] %></strong>
      </span>
    </p>
  </div>
</div>

<div style="clear: both"></div>

<div class="row">
  <p style='margin: 10px 0 0 0; text-align: center;'>
    <strong>Documento sin efectos fiscales</strong>
  </p>
  <p style="margin: 5px 0 0 0; text-align: center;">
    <strong>[ Políticas de Garantía ]</strong>
  </p>
  <p style="margin: 5px 0 0 0; text-align: center;">
    <strong>Si requiere factura, favor de solicitarla al momento de efectuar su compra.</strong>
  </p>
  <p style="margin: 5px 0 0 0; text-align: center;">
    <strong>Tel: 53 2 55 21</strong>
  </p>
</div>
