<!-- header -->
<div class="row">
  <p style="margin: 0; text-align: center;">
    <strong><%= @ticket_sale.header[:title] %></strong>
  </p>
  <p style='margin: 5px 0 0 0; text-align: center;'>
    <strong>Domicilio</strong>
  </p>
  <p style='margin: 0; text-align: center;'>
    <strong><%= @ticket_sale.header[:street] %></strong>
  </p>
  <p style='margin: 0; text-align: center;'>
    <strong><%= @ticket_sale.header[:address] %></strong>
  </p>
  <p style='margin: 0; text-align: center;'>
    <strong><%= @ticket_sale.header[:city] %></strong>
  </p>
  <p style='margin: 5px 0 0 0; text-align: center;'>
    <strong>RFC. <%= @ticket_sale.header[:rfc] %></strong>
  </p>
  <p style="margin: 5px 0 0 0; text-align: center;">
    <strong>Sucursal: <%= @ticket_sale.header[:sucursal] %></strong>
  </p>
</div>
<!-- end_header -->

<div class="row">
  <p style="margin: 5px 0 0 0;">
    <strong><%= @ticket_sale.date %></strong>
  </p>
</div>

<div class="row">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0;">
      <span style='float: left; width: 50%; display: inline-block;'>
        <strong>Ticket: <%= @ticket_sale.ticket %></strong>
      </span>
    </p>
  </div>
</div>




<div style="clear: both"></div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>CODIGO</th>
      <th colspan="2">DESCRIPCIÓN</th>
    </tr>
    <tr>
      <th>CANT</th>
      <th>PU</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <% @ticket_sale.products.each do |product| %>
      <tr>
        <td><%= product[:code] %></td>
        <td colspan="2"><%= product[:description] %></td>
      </tr>
      <tr>
        <td><%= product[:quantity] %></td>
        <td><%= number_to_currency product[:price] %></td>
        <td><%= number_to_currency product[:total] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0 0 0;">
      <span style='float: left; width: 50%; display: inline-block; text-align: right;'>
        <strong>Subtotal:</strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong><%= number_to_currency @ticket_sale.totals[:subtotal] %></strong>
      </span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0 0 0;">
      <span style='float: left; width: 50%; display: inline-block; text-align: right;'>
        <strong>Descuentos:</strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong><%= number_to_currency @ticket_sale.totals[:discount] %></strong>
      </span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0 0 0;">
      <span style='float: left; width: 50%; display: inline-block; text-align: right;'>
        <strong>IVA al 16%:</strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong><%= number_to_currency @ticket_sale.totals[:iva] %></strong>
      </span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0 0 0;">
      <span style='float: left; width: 50%; display: inline-block; text-align: right;'>
        <strong>Total M.N.:</strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong><%= number_to_currency @ticket_sale.totals[:total] %></strong>
      </span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0 0 0;">
      <span style='float: left; width: 50%; display: inline-block; text-align: right;'>
        <strong>Pago >> <%= @ticket_sale.type_paid %></strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong><%= number_to_currency @ticket_sale.totals[:paid] %></strong>
      </span>
    </p>
  </div>
</div>

<div style="clear: both"></div>

<div class="row" style="margin: 10px 0 0 0">
  <div class="col-xs-12" style="margin: 0;">
    <p style="margin: 5px 0 0 0;">
      <span style='float: left; width: 50%; display: inline-block; text-align: right;'>
        <strong>Cambio:</strong>
      </span>
      <span style='float: right; width: 50%; display: inline-block; text-align: right;'>
        <strong><%= number_to_currency @ticket_sale.totals[:change] %></strong>
      </span>
    </p>
  </div>
</div>

<div style="clear: both"></div>

<div class="row">
  <p style='margin: 10px 0 0 0; text-align: center;'>
    <strong>Documento sin efectos fiscales</strong>
  </p>
  <p style="margin: 5px 0 0 0; text-align: center;">
    <strong>[ Políticas de Garantía ]</strong>
  </p>
  <p style="margin: 5px 0 0 0; text-align: center;">
    <strong>Si requiere factura, favor de solicitarla al momento de efectuar su compra.</strong>
  </p>
</div>
