
<%= form_for(support, { html: {class: "form-horizontal" }}) do |f| %>
  <%= f.hidden_field :equipment_customer_id, value: @equipment_customer.id %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group" style="padding-left: 10px;">
        <label>Descripción</label>
        <% if support.new_record? %>
          <%= f.text_area :description, class: "form-control textarea", required: true %>
          <div class="invalid-feedback"><%= @new_support.errors[:description].first %></div>
        <% else %>
          <div class="form-control" readonly style="height: auto;">
            <%= sanitize support.description %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group" style="margin-top: 25px;">
        <label class="col-md-5 text-center control-label">Fecha de Ingreso</label>
        <div class="col-md-7">
          <%= f.text_field :date_of_entry, class: "form-control", required: true, disabled: !support.new_record? %>
          <div class="invalid-feedback"><%= @new_support.errors[:date_of_entry].first %></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12 control-label" style="text-align: center;">Tipo de pago</label>
      </div>
      <% PaymentType.all.each do |payment_type| %>
      <div class="form-group">
        <input type="radio" class="form-check-input" id="radio<%= payment_type.id %>" name="support[payment_type_id]" value="<%= payment_type.id %>" style="margin-left: 20px;" required <%= 'disabled' if !support.new_record? %> <%= 'checked' if payment_type.id.eql?(support.payment_type_id) %>>
        <label class="form-check-label" style="padding-left: 10px;">
          <%= payment_type.name %>
          <%= "<i class='fa fa-fw fa-credit-card'></i>".html_safe if payment_type.name != "Efectivo" %>
        </label>
      </div>
      <% end %>
      <div class="invalid-feedback"><%= @new_support.errors[:payment_type_id].first %></div>
      <div class="form-group">
        <label class="col-md-5 control-label">Tipo de Cliente</label>
        <div class="col-md-7">
          <%= f.collection_select :client_type_id, ClientType.all, :id, :name, { prompt: "Seleccione un tipo de cliente" }, class: "form-control", required: true, disabled: !support.new_record? %>
          <div class="invalid-feedback"><%= @new_support.errors[:client_type_id].first %></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-5 control-label">Mano de Obra</label>
        <div class="col-md-7">
         <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :worforce, class: "form-control form-control-sm", required: true, disabled: !support.new_record?, data: { url: "/supports/test", remote: :true, method: :get } %>
         </div>
         <div class="invalid-feedback"><%= @new_support.errors[:worforce].first %></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-5 control-label">Descuento</label>
        <div class="col-md-7">
          <div class="input-group">
            <%= f.text_field :discount, class: "form-control form-control-sm", required: true, disabled: !support.new_record? %>
            <span class="input-group-addon">%</span>
          </div>
           <div class="invalid-feedback"><%= @new_support.errors[:discount].first %></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-5 control-label">Fecha de Salida</label>
        <div class="col-md-7">
          <%= f.text_field :departure_date, class: "form-control form-control-sm", required: true, disabled: !support.new_record? %>
          <div class="invalid-feedback"><%= @new_support.errors[:departure_date].first %></div>
        </div>
      </div>


    </div>
    <div class="col-md-7">
      <div class="form-group text-center">
        <label>Refacciones usadas</label>
        <% if support.new_record? %>
          <select name="[spare_part_id]" class="form-control autocomplete_spare_parts" data-remote="true" data-url="/spare_parts/new" data-method="get">
            <option value="">Seleccione la refacción</option>
          </select>
        <% end %>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody id="spare_parts_used_by_support">
          <% unless support.support_spare_parts.blank? %>
            <%= render partial: "spare_parts/spare_part", collection: support.support_spare_parts %>
          <% end %>
        </tbody>
      </table>

      <div class="table-responsive" id="total_to_paid_by_spare_parts_used_by_support">
        <% unless support.support_spare_parts.blank? %>
          <%= render "supports/totals_costs", totals: Support.generate_totals(support.support_spare_parts, support.worforce, support.discount) %>
        <% end %>
      </div>

      <%= f.submit "$ Pagar", id: "btn_paid", class: "btn bg-green color-palette btn-block btn-flat #{'hidden' if !support.new_record?}", disabled: "disabled" %>

    </div>
  </div>
<% end %>
