<tbody>
  <tr>
    <th>No.</th>
    <th>Nombre</th>
    <th>Especificaciones</th>
    <th></th>
    <th></th>
  </tr>
  <% @brands.each_with_index do |brand, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= brand.name %></td>
      <td><%= sanitize brand.specifications %></td>
      <td style="width: 1px;"><%= link_to 'Actualizar', edit_brand_path(brand), class: 'btn btn-edit' if current_user.admin? %></td>
      <td style="width: 1px;"><%= link_to 'Eliminar', brand, method: :delete, class: 'btn btn-danger', data: { confirm: '¿Está usted seguro?' } if current_user.admin? %></td>
    </tr>
  <% end %>
</tbody>
