<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header text-center">
        <h3 class="box-title title-catalog">Marcas</h3>
          <%= link_to 'Registrar', new_brand_path, class: "btn btn-info pull-right" %>

      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-responsive table-hover table-condensed table-striped">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Nombre</th>
              <th>Especificaciones</th>
              <th></th>
              <th></th>
            </tr>
            <% @brands.each_with_index do |brand, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= brand.name %></td>
                <td><%= sanitize brand.specifications %></td>
                <td style="width: 1px;"><%= link_to 'Actualizar', edit_brand_path(brand), class: 'btn btn-edit' %></td>
                <td style="width: 1px;"><%= link_to 'Eliminar', brand, method: :delete, class: 'btn btn-danger', data: { confirm: '¿Está usted seguro?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
