<div class="row" style="margin: 0;">
  <div class="col-xs-12 not-padding">
    <div class="box not-margin not-border">
      <div class="box-header text-center border-tr-header">
        <h3 class="box-title title-catalog">Marcas</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <table class="table table-responsive table-hover table-condensed table-striped">
          <tbody>
            <tr class="background-gray border-tr-header">
              <th class="td-header-table">#</th>
              <th class="td-header-table">NOMBRE</th>
              <th class="td-header-table">ESPECIFICACIONES</th>
              <th class="td-header-table"></th>
            </tr>
            <% @brands.each_with_index do |brand, index| %>
              <tr>
                <td class="td-content-table"><%= index + 1 %></td>
                <td class="td-content-table"><%= brand.name %></td>
                <td class="td-content-table"><%= sanitize brand.specifications %></td>
                <td class="td-content-table">
                  <div class="icon-bar">
                    <%= link_to edit_brand_path(brand), class: 'edit' do %>
                      <i class="fa fa-fw fa-edit"></i>
                    <% end %>
                    <%= link_to brand, method: :delete, class: 'delete', data: { confirm: '¿Está usted seguro?' } do %>
                      <i class="fa fa-fw fa-remove"></i>
                    <% end %>
                  </div>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

  <div class="new-register">
    <%= link_to new_brand_path do %>
      <i class="fa fa-fw fa-plus"></i>
    <% end %>
  </div>
</div>
