<div class="box">
  <div class="box-header text-center">
    <h3 class="box-title title-catalog">Registrar</h3>
    <%= link_to employes_path, class: "btn btn-info pull-right" do %>
      <i class="fa fa-fw fa-reply"></i>
    <% end %>
  </div>

  <%= form_for(@user, url: employes_path, html: {class: "form-horizontal", method: :post }) do |f| %>
    <div class="box-body">
      <div class="form-group <%= 'has-error' unless @user.errors[:name].blank? %>">
        <label for="exampleInputName" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-10">
          <%= f.text_field :name, class: "form-control", required: true, autofocus: true %>
          <div class="invalid-feedback"><%= @user.errors[:name].first %></div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputName" class="col-sm-2 control-label">Apellido paterno</label>
        <div class="col-sm-10">
          <%= f.text_field :first_name, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= @user.errors[:first_name].first %></div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputName" class="col-sm-2 control-label">Apellido materno</label>
        <div class="col-sm-10">
          <%= f.text_field :last_name, class: "form-control" %>
          <div class="invalid-feedback"><%= @user.errors[:last_name].first %></div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputName" class="col-sm-2 control-label">Usuario</label>
        <div class="col-sm-10">
          <%= f.text_field :username, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= @user.errors[:username].first %></div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputName" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <%= f.email_field :email, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= @user.errors[:email].first %></div>
        </div>
      </div>

      <% if @minimum_password_length %>
      <% hint = "#{@minimum_password_length} carácteres mínimo." %>
      <% end %>

      <div class="form-group">
        <label for="exampleInputName" class="col-sm-2 control-label">Contraseña</label>
        <div class="col-sm-10">
          <%= f.password_field :password, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= @user.errors[:password].first %></div>
          <small class="form-text text-muted"><%= "(#{hint})" %> </small>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputName" class="col-sm-2 control-label">Confirmación de contraseña</label>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= @user.errors[:password_confirmation].first %></div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputName" class="col-sm-2 control-label">Rol</label>
        <div class="col-sm-10">
          <%= f.collection_select :rol_id, Rol.all, :id, :name, { prompt: "Seleccione un Rol" }, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= @user.errors[:rol].first %></div>
        </div>
      </div>
    </div>

    <div class="box-footer">
          <%= f.submit "Registrar", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
