<tbody>
  <tr>
    <th>No.</th>
    <th>Código</th>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Descripción</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @products.each_with_index do |product, index| %>
  <tr>
    <td><%= index +1 %></td>
    <td><%= product.code %></td>
    <td><%= product.name %></td>
    <td><%= number_to_currency product.price %></td>
    <td><%= product.quantity %></td>
    <td><%= product.description %></td>
    <td style="width: 1px;"><%= link_to 'Traspasar', translate_product_path(product), method: :post, class: 'btn',  data: { confirm: "Se traspasará una unidad al cátalogo de refacciones. \n ¿Está usted seguro?" } if current_user.admin? %></td>
    <td style="width: 1px;"><%= link_to 'Actualizar', edit_product_path(product), class: 'btn btn-edit' if current_user.admin? %></td>
    <td style="width: 1px;"><%= link_to 'Eliminar', product, method: :delete, class: 'btn btn-danger', data: { confirm: '¿Está usted seguro?' } if current_user.admin? %></td>
  </tr>
  <% end %>
</tbody>
