<%= form_for(@product, html: { class: "form-horizontal" }) do |f| %>
  <div class="box-body">
    <div class="form-group <%= 'has-error' unless @product.errors[:code].blank? %>">
      <label class="col-sm-2 control-label">Código</label>
      <div class="col-sm-10">
        <%= f.text_field :code, class: "form-control", required: true, autofocus: true %>
        <span><%= @product.errors[:code].first %></span>
      </div>
    </div>

    <div class="form-group <%= 'has-error' unless @product.errors[:name].blank? %>">
      <label class="col-sm-2 control-label">Nombre</label>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control", required: true %>
        <span><%= @product.errors[:name].first %></span>
      </div>
    </div>

    <div class="form-group <%= 'has-error' unless @product.errors[:brand].blank? %>">
      <label class="col-sm-2 control-label">Marca</label>
      <div class="col-sm-10">
        <%= f.collection_select :brand_id, Brand.all.order(:name), :id, :name, { prompt: 'Seleccione una marca' }, class: 'form-control', required: true %>
        <span><%= @product.errors[:brand].first %></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Precio Compra</label>
      <div class="col-sm-10">
        <%= f.text_field :price_purchase, class: "form-control", required: true, style: "text-align: left !important;" %>
        <div class="invalid-feedback"><%= @product.errors[:price_purchase].first %></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Precio Venta</label>
      <div class="col-sm-10">
        <%= f.text_field :price, class: "form-control", required: true, style: "text-align: left !important;" %>
        <div class="invalid-feedback"><%= @product.errors[:price].first %></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Stock</label>
      <div class="col-sm-10">
        <%= f.text_field :quantity, class: "form-control", required: true,  style: "text-align: left !important;" %>
        <div class="invalid-feedback"><%= @product.errors[:quantity].first %></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Stock Minimo</label>
      <div class="col-sm-10">
        <%= f.text_field :stock_minimum, class: "form-control", required: true,  style: "text-align: left !important;" %>
        <div class="invalid-feedback"><%= @product.errors[:stock_minimum].first %></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Descripción</label>
      <div class="col-sm-10">
        <%= f.text_area :description, class: "form-control", rows: "10" %>
        <div class="invalid-feedback"><%= @product.errors[:description].first %></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Imagen</label>
      <div class="col-sm-10">
        <%= f.file_field :imagen, class: "form-control", accept: 'image/png,image/gif,image/jpeg,image/jpg',
                         data: {behavior: 'file-imagen'}%>

        <% src = @product.new_record? ? "#" : @product.imagen_url %>
        <% hidden = @product.new_record? ? "hidden" : "" %>

        <img id="img_prev" width=300 height=300 src="<%= src %>" alt="Fotografia"
             class="img-thumbnail <%= hidden %>" data-behavior="imagen"/>
        <br/>
      </div>
      <%= f.hidden_field :imagen_cache, data: {behavior: 'file-imagen-cache'} %>
    </div>
  </div>

  <div class="box-footer">
    <%= f.submit "Guardar", class: "btn btn-info pull-right btn-block" %>
  </div>

<% end %>

<script>
  $(document).ready(function () {
     $("#product_brand_id").select2();
  });
</script>

<script>
    readInvitationURL($("#product_imagen_cache"));

    $("#product_imagen").change(function(){
        $('#img_prev').removeClass('hidden');
        readInvitationURL(this);
    });

    function readInvitationURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img_prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        } else {
            console.log("URL INVITATION: " + input.val());
            if(input.val() != "" && input.val() != undefined) {
                $('#img_prev').removeClass('hidden');
                $('#img_prev').attr('src', "uploads/tmp/" + input.val());
            }
        }
    }
</script>