<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header text-center">
        <h3 class="box-title title-catalog">Ventas</h3>
      </div>

      <div class="box-body table-responsive no-padding">
        <%= render 'shared/search', id: 'search-sales',
          placeholder: 'Introduzca código',
          remote_url: '/products/search_sales' %>
        <table class="table table-responsive table-hover table-condensed table-striped" id="sales_table">
          <%= render 'body_sales' %>
        </table>
        <div id="total_cost_sales">
          <%= render "sales/totals_costs", total_sales: @total_sales %>
        </div>
      </div>
      <div class="box-footer row">
        <div class="col-sm-4 col-sm-offset-8">
          <%= button_tag 'Realizar Venta', type: 'button', class: "btn btn-info btn-block pull-right", id: "make_sale_link" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'sales/form_modal' %>

<script>
  $(document).ready(function() {
    <% if @type.present? %>
      location.replace("<%= cashes_generate_xlsx_url(cash: @cash, type: @type, format: :xlsx) %>");
    <% end %>

    $('#make_sale_link').click(function() {
      $.ajax({
        url: "/sales/preview",
        method: "get",
        dataType: "script",
        data: {
          discount: $('#discount-sale').val(),
          paid_with: $('#paid_with_sale').val(),
          change: $('#change-sale').val(),
          payment_type_id: $("#sale_payment_type_id").find("option:selected").attr('value')
        },
        beforeSend: function(xhr) {
          setSpinner($('body'));
        },
        complete: function(xhr, status) {
          deleteSpinner($('body'));
        }
      });
    });
  });
</script>
