<tbody>
  <tr>
    <th>No.</th>
    <th>Código</th>
    <th>Nombre</th>
    <th>Precio Compra</th>
    <th>Precio Venta</th>
    <th>Unidad de Venta</th>
    <th>Stock</th>
    <th>Contiene</th>
    <th>Imagen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @printing_products.each do |printing_product, index| %>
  <tr>
    <td><%= @index %></td>
    <td><%= printing_product.code %></td>
    <td><%= printing_product.name %></td>
    <td><%= number_to_currency printing_product.purchase_price %></td>
    <td><%= number_to_currency printing_product.sale_price %></td>
    <td><%= printing_product.sale_unit %></td>
    <td><%= printing_product.stock %></td>
    <td><%= "#{printing_product.contains} #{printing_product.contain_unit}" %></td>
    <td><%=  %></td>
    <td style="width: 1px;"><%#= link_to 'Traspasar', translate_product_path(product), method: :post, class: 'btn',  data: { confirm: "Se traspasará una unidad al cátalogo de refacciones. \n ¿Está usted seguro?" } if current_user.admin? %></td>
    <td style="width: 1px;"><%= link_to 'Actualizar', edit_printing_product_path(printing_product), class: 'btn btn-edit' %></td>
    <td style="width: 1px;"><%= link_to 'Eliminar', printing_product, method: :delete, class: 'btn btn-danger', data: { confirm: '¿Está usted seguro?' } %></td>
  </tr>
  <% @index += 1 %>
  <% end %>
</tbody>
