<%= form_for(@printing_product, html: { class: "form-horizontal", data: {behavior: 'printing-product-form'} }) do |f| %>
  <div class="box-body">
    <div class="form-group <%= 'has-error' unless @printing_product.errors[:code].blank? %>">
      <label class="col-sm-2 control-label">Código</label>
      <div class="col-sm-10">
        <%= f.text_field :code, class: "form-control", required: true, autofocus: true,
                         readonly: !@printing_product.new_record? %>
        <span><%= @printing_product.errors[:code].first %></span>
      </div>
    </div>

    <div class="form-group <%= 'has-error' unless @printing_product.errors[:name].blank? %>">
      <label class="col-sm-2 control-label">Nombre</label>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control autocomplete_clients", required: true,
                         readonly: !@printing_product.new_record? %>
        <span><%= @printing_product.errors[:name].first %></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Tipo de Producto</label>
      <div class="col-sm-10">
        <%= f.select :product_type, PrintingProduct.product_types, {prompt: 'Seleccione un tipo de producto'},
                     readonly: !@printing_product.new_record?, class: "form-control", required: true, style: "text-align: left !important;" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Unidad Compra</label>
      <div class="col-sm-10">
        <%= f.select :purchase_unit, PrintingProductsPolicy.sale_units, {prompt: 'Seleccione una unidad'},
                     { class: "form-control", required: true, style: "text-align: left !important;",
                       disabled: !@printing_product.new_record? } %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Precio Compra</label>
      <div class="col-sm-10">
        <%= f.text_field :purchase_price, class: "form-control", required: true,
                         style: "text-align: left !important;", data: {input_mask: 'currency-input',
                                                                       behavior: 'purchase-price'} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Contenido</label>
      <div class="col-sm-10">
        <%= f.text_field :content, class: "form-control", required: true,
                         style: "text-align: left !important;",
                         data: {input_mask: 'integer-input', behavior: 'content'} %>
      </div>
    </div>

    <%= render partial: 'units_prices', locals: { f: f } %>

    <div class="form-group">
      <label class="col-sm-2 control-label">Utilidad</label>
      <div class="col-sm-10">
        <%= f.text_field :utility, class: "form-control", required: true, readonly: true,
                         style: "text-align: left !important;", readonly: !@printing_product.new_record?,
                         data: {input_mask: 'currency-input', behavior: 'utility'} %>
      </div>
    </div>

    <% unless @printing_product.new_record? %>
      <div class="form-group">
        <label class="col-sm-2 control-label">Aumentar Stock</label>
        <div class="col-sm-10">
          <%= f.text_field :increase_stock, class: "form-control", required: true,
                           style: "text-align: left !important;",
                           data: {input_mask: 'integer-input', behavior: 'increase-stock'} %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <label class="col-sm-2 control-label">Stock</label>
      <div class="col-sm-10">
        <%= f.text_field :stock, class: "form-control", required: true,
                         style: "text-align: left !important;", readonly: !@printing_product.new_record?,
                         data: {stock: @printing_product.stock, input_mask: 'integer-input', behavior: 'stock'} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Imagen</label>
      <div class="col-sm-10">
        <%= f.file_field :imagen, class: "form-control", accept: 'image/png,image/gif,image/jpeg,image/jpg',
                          data: {behavior: 'file-imagen'}%>

        <% src = @printing_product.new_record? ? "#" : @printing_product.imagen_url %>
        <% hidden = @printing_product.new_record? ? "hidden" : "" %>

        <img id="img_prev" width=300 height=300 src="<%= src %>" alt="Fotografia"
             class="img-thumbnail <%= hidden %>" data-behavior="imagen"/>
        <br/>
      </div>
      <%= f.hidden_field :imagen_cache, data: {behavior: 'file-imagen-cache'} %>
    </div>
  </div>

  <div class="box-footer">
    <%= f.submit "Guardar", class: "btn btn-info pull-right btn-block" %>
  </div>

<% end %>