<div class="row">
  <div class="col-sm-offset-1 col-sm-6">
    <div class="form-group">
      <label class="col-sm-2 control-label">Pieza</label>
      <div class="col-sm-9">
        <%= f.text_field :piece, class: "form-control", required: true,
                         style: "text-align: left !important;", data: {input_mask: 'currency-input'} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Metro</label>
      <div class="col-sm-9">
        <%= f.text_field :meter, class: "form-control", required: true,
                         style: "text-align: left !important;", data: {input_mask: 'currency-input'} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Caja</label>
      <div class="col-sm-9">
        <%= f.text_field :box, class: "form-control", required: true,
                         style: "text-align: left !important;", data: {input_mask: 'currency-input'} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Rollo</label>
      <div class="col-sm-9">
        <%= f.text_field :roll, class: "form-control", required: true,
                         style: "text-align: left !important;", data: {input_mask: 'currency-input'} %>
      </div>
    </div>

  </div>
  <div class="col-sm-5">
    <div class="form-group">
      <label class="col-sm-2 control-label">Paquete</label>
      <div class="col-sm-10">
        <%= f.text_field :package, class: "form-control", required: true,
                         style: "text-align: left !important;", data: {input_mask: 'currency-input'} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Bolsa</label>
      <div class="col-sm-10">
        <%= f.text_field :bag, class: "form-control", required: true,
                         style: "text-align: left !important;", data: {input_mask: 'currency-input'} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Juego</label>
      <div class="col-sm-10">
        <%= f.text_field :set, class: "form-control", required: true,
                         style: "text-align: left !important;", data: {input_mask: 'currency-input'} %>
      </div>
    </div>
  </div>
</div>
