<div class="form-group">
  <div class="col-sm-12 text-center">
    <%= form_for(invitation, url: update_image_invitation_quotation_printing_path(invitation), authenticity_token: true, remote: true, html: {class: 'form-horizontal', id: 'update_image_invitation_form'}) do |f| %>
      <%= f.file_field :imagen, class: "form-control", accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
      <% src = invitation.new_record? ? "#" : invitation.imagen_url %>
      <% hidden = invitation.new_record? ? "hidden" : "" %>
      <img id="img_prev_invitation" width=200 height=200 src="<%= src %>" alt="Fotografia" class="img-thumbnail <%= hidden %>"/> <br/>
      <%= f.hidden_field :imagen_cache %>
    <% end %>
  </div>
</div>

<script>
  readURL($("#invitation_imagen_cache"));

  $("#invitation_imagen").change(function(){
    $('#img_prev_invitation').removeClass('hidden');
    readURL(this);
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev_invitation').attr('src', e.target.result);
        var $formUpdateImageInvitation = $('form#update_image_invitation_form')
        var formData = new FormData();
        var formParams = $formUpdateImageInvitation.serializeArray();

        $.each($formUpdateImageInvitation.find('input[type="file"]'), function(i, tag) {
          $.each($(tag)[0].files, function(i, file) {
            formData.append(tag.name, file);
          });
        });

        $.each(formParams, function(i, val) {
          formData.append(val.name, val.value);
        });

        $.ajax({
          cache: false,
          processData: false,
          contentType: false,
          data: formData,
          type: "patch",
          url: $formUpdateImageInvitation.attr('action'),
          dataType: "script",
        });
      }

      reader.readAsDataURL(input.files[0]);

    } else {
      console.log("URL INVITATIONS IN QUOTATIONS: " + input.val());
      if(input.val() != "" && input.val() != undefined) {
          $('#img_prev_invitation').removeClass('hidden');
          $('#img_prev_invitación').attr('src', "uploads/tmp/" + input.val());
      }
    }
  }
</script>
