<table class="table">
  <tbody>
    <tr>
      <th class="text-right">Estado:</th>
      <td class="text-right">
        <%= select_tag "quotation_printing[status]", options_for_select(["Cotización", "Orden de Trabajo"]), { class: "form-control", required: true, prompt: "Seleccionar estado" } %>
      </td>
    </tr>
    <tr>
      <th class="text-right">Tipo de Pago:</th>
      <td>
        <div class="input-group" style="width: 100%;">
          <%= collection_select :quotation_printing, :payment_type_id, PaymentType.all.order(:id), :id, :name, { prompt: 'Seleccione un tipo de pago' }, class: 'form-control', required: true, style: "width: 100%;"  %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="text-right">
        <div class="radio">
          <label><strong>Pago Parcial</strong><%= radio_button("quotation_printing", "total_paid", false, style: "margin-left: 10px;") %></label>
        </div>
      </td>
      <td class="text-center">
        <div class="radio">
          <label><strong>Pago Total</strong><%= radio_button("quotation_printing", "total_paid", true, checked: true, style: "margin-left: 10px;") %></label>
        </div>
      </td>
    </tr>
    <tr>
      <th class="text-right">Pago con:</th>
      <td>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= text_field_tag "quotation_printing[paid_with]", "", class: "form-control form-control-sm" %>
        </div>
      </td>
    </tr>
    <tr id="id_payment" style="display: none;">
      <th class="text-right">Abona:</th>
      <td>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= text_field_tag "quotation_printing[payment]", "", class: "form-control form-control-sm" %>
        </div>
      </td>
    </tr>
    <tr>
      <th class="text-right">Cambio:</th>
        <td>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= text_field_tag "quotation_printing[change]", "", class: "form-control form-control-sm", readonly: true %>
          </div>
        </td>
    </tr>
    <tr style="display: none;" id="id_difference">
      <th class="text-right">Resta:</th>
        <td>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= text_field_tag "quotation_printing[difference]", "", class: "form-control form-control-sm", readonly: true %>
          </div>
        </td>
    </tr>
  </tbody>
</table>

<!-- Obtener el cambio y la differencia del pago -->
<script>
  $(document).ready(function() {
    var $paidWithSale = $('#quotation_printing_paid_with');
    var $payment = $('#quotation_printing_payment');
    var $change = $("#quotation_printing_change");
    var $paymentTypeSale = $("#quotation_printing_payment_type_id");
    var $difference = $("#quotation_printing_difference");

    setCurrency($paidWithSale);
    setCurrency($payment);
    setCurrency($change);
    setCurrency($difference);
    obtainChangeSale();

    $paidWithSale.keyup(function() {
      obtainChangeSale();
    });

    $payment.keyup(function() {
      obtainChangeSale();
    });

    updatePaymentSale($paymentTypeSale.find("option:selected").attr('value'));

    $paymentTypeSale.change(function() {
      updatePaymentSale($(this).find("option:selected").attr('value'));
    });
  });

  function obtainChangeSale() {
      console.log("Obteniendo el cambio de la venta");
    var $paidWithSale = $('#quotation_printing_paid_with');
    var $totalPaid = $('#cost_materials_public');
    var $change = $("#quotation_printing_change");
    var $btnPaid = $("#quotation_printing_save_button");
    var $statusQuotation = $('#quotation_printing_status');
    var $totalOrParcialPaid = $('input[type=radio][name="quotation_printing[total_paid]"]:checked');

    console.log("$totalOrParcialPaid: " + $totalOrParcialPaid.val());

    if($totalPaid.html() == '' || $totalPaid.html() == undefined) {
        console.log("No hay pago total");
      return;
    }

    if($statusQuotation.val() == '' || $statusQuotation.val() == undefined || $statusQuotation.val() == 'Cotización') {
      console.log("Cotizacion o no definida el estatus");
      return;
    }

    if($totalOrParcialPaid.val() == 'true') { // Total payment
      console.log("Total Payment");

      var paidWith = Number($paidWithSale.val().replace(/,/g, ""));
      var totalPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""))
      var change = (paidWith - totalPaid).toFixed(2);

      console.log(paidWith);
      console.log(totalPaid);
      console.log(change.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));

      $change.val(change);

      if(change < 0 || totalPaid <= 0) {
        $btnPaid.attr("readonly", true);
      } else {
        $btnPaid.removeAttr("readonly");
      }
    } else { // Parcial payment
      console.log("Parcial Payment");

      var $payment = $('#quotation_printing_payment');
      var $difference = $('#quotation_printing_difference');
      var $paymentTypeSale = $("#quotation_printing_payment_type_id");

      if($paymentTypeSale.val() == "1") { // Efectivo
        console.log("Efectivo Parcial Payment");

        var paidWith = Number($paidWithSale.val().replace(/,/g, ""));
        var payment = Number($payment.val().replace(/,/g, ""));
        var totalPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""))
        var change = (paidWith - payment).toFixed(2);
        var difference = (totalPaid - payment).toFixed(2);

        console.log(paidWith);
        console.log(totalPaid);
        console.log(change.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));

        $change.val(change);
        $difference.val(difference);

        if(change < 0 || totalPaid <= 0 || (payment >= totalPaid) || payment <= 0) {
          $btnPaid.attr("disabled", true);
        } else {
          $btnPaid.removeAttr("disabled");
        }
      } else { // Tarjeta Payment
        console.log("Tarjeta Parcial Payment");

        var paidWith = Number($paidWithSale.val().replace(/,/g, ""));
        var payment = paidWith;
        var totalPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""))
        var change = (paidWith - payment).toFixed(2);
        var difference = (totalPaid - payment).toFixed(2);

        console.log(paidWith);
        console.log(totalPaid);
        console.log(change.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));

        $change.val(change);
        $payment.val(payment);
        $difference.val(difference);

        if(change < 0 || totalPaid <= 0 || (payment >= totalPaid) || payment <= 0) {
          $btnPaid.attr("disabled", true);
        } else {
          $btnPaid.removeAttr("disabled");
        }
      }
    }
  }

  function updatePaymentSale(paymentMethod) {
      var $totalPaid = $('#cost_materials_public');
      var $paidWithSale = $('#quotation_printing_paid_with');
      var $payment = $('#quotation_printing_payment');
      //var $paymentTypeSale = $("#quotation_printing_payment_type_id");
      var $statusQuotation = $('#quotation_printing_status');
      var $totalOrParcialPaid = $('input[type=radio][name="quotation_printing[total_paid]"]:checked');

      /*if($statusQuotation.val() == '' || $statusQuotation.val() == undefined || $statusQuotation.val() == 'Cotización') {
          return;
      }*/

      // Check payment method
      if(paymentMethod == "") { // No selecciono metodo de pago
        $paidWithSale.val(0);
        $paidWithSale.prop("readonly",true);
        $payment.val(0);
        $payment.prop("readonly",true);
        //obtainChangeSale();
        return;
      }

      if(paymentMethod != "1") { // Debito, Credito
        if($totalOrParcialPaid.val() == 'true') { // Pago total
          var totalToPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""));
          $paidWithSale.val(totalToPaid);
          $paidWithSale.prop("readonly",true);
          obtainChangeSale();
        } else {
          $paidWithSale.val(0);
          $paidWithSale.prop("readonly",false);
          $payment.val(0);
          $payment.prop("readonly",true);
          obtainChangeSale();
        }
      } else { // Efectivo
        if($totalOrParcialPaid.val() == 'true') { // Pago total
          $paidWithSale.val(0);
          $paidWithSale.prop("readonly",false);
          //$payment.val(0);
          //$payment.prop("readonly",false);
          obtainChangeSale();
        } else {
          $paidWithSale.val(0);
          $paidWithSale.prop("readonly", true);
          $payment.val(0);
          $payment.prop("readonly", true);
          obtainChangeSale();
        }
      }
  }
</script>

<!-- Check change status cotizacion -->
<script>
  $('#quotation_printing_status').change(function() {
      console.log("Cambio en el estado de la cotización");
    var $paymentMethod = $("#quotation_printing_payment_type_id");
    var $paidWithSale = $('#quotation_printing_paid_with');
    var $payment = $("#quotation_printing_payment");
    var $totalOrParcialPaid = $('input[type=radio][name="quotation_printing[total_paid]"]:checked');

    if (this.value == 'Cotización' || this.value == '') {
        console.log("Se selecciono cotizacion o nada");
      // Status is cotizacion
      $("#quotation_printing_payment_type_id").attr("disabled", true);
      $("#quotation_printing_paid_with").attr("readonly", true);
      $("#quotation_printing_payment").attr("readonly", true);
      $("#quotation_printing_change").attr("readonly", true);
      $("#quotation_printing_difference").attr("readonly", true);

      $("#quotation_printing_paid_with").val(0);
      $("#quotation_printing_payment").val(0);
      $("#quotation_printing_change").val(0);
      $("#quotation_printing_difference").val(0);

      return;
    }
    else if (this.value == 'Orden de Trabajo') {
        console.log("La cotizaciòn es orden de trabajo");
      // Parcial payment (Orden de trabajo)
      $("#quotation_printing_payment_type_id").removeAttr("disabled");

      if($paymentMethod.val() == "") { // No se eligio metodo de pago
          console.log("No hay metodo de pago");
        $paidWithSale.val(0);
        $payment.val(0);

        $("#quotation_printing_paid_with").attr("readonly", true);
        $("#quotation_printing_payment").attr("readonly", true);
        $("#quotation_printing_change").attr("readonly", true);
        $("#quotation_printing_difference").attr("readonly", true);

        //obtainChangeSale();
        return;
      }

      if($paymentMethod.val() != "1") { // Debito, Credito
          console.log("Metodo de pago es tarjeta")
        if($totalOrParcialPaid.val() == "true") { // Pago total
            console.log("Es un pago total");
            $paidWithSale.val(0);
            $paidWithSale.prop("readonly",true);
            $payment.val(0);
            $payment.prop("readonly",true);

            $("#id_difference").css('display', 'none');
            $("#id_payment").css('display', 'none');

        } else { // Pago parcial
            console.log("Es un pago parcial");
            $paidWithSale.val(0);
            $paidWithSale.prop("readonly",false);

            $("#id_difference").css('display', 'none');
            $("#id_payment").css('display', 'none');
        }

        obtainChangeSale();

      } else { // Efectivo
          console.log("Metodo de pago es Efetivo");
          if($totalOrParcialPaid.val() == "true") { // Pago total
              console.log("Es un pago total")
              $paidWithSale.val(0);
              $paidWithSale.prop("readonly",false);
              $payment.val(0);
              $payment.prop("readonly",false);
              // Campos abona y resta deben ocultarse
              $("#id_difference").css('display', 'none');
              $("#id_payment").css('display', 'none');

          } else {
              console.log("Es un pago parcial")
              $paidWithSale.val(0);
              $paidWithSale.prop("readonly",false);
              $payment.val(0);
              $payment.prop("readonly",false);

              // Campos abona y resta deben mostrarse
              $("#id_difference").css('display', 'table-row');
              $("#id_payment").css('display', 'table-row');
          }

        obtainChangeSale();
        return;
      }
    }
});

</script>

<!-- Check total o parcial paid -->
<script>
    $('input[type=radio][name="quotation_printing[total_paid]"]').change(function() {
        console.log("Cambio en el tipo de pago parcial o total");
        var $paymentMethod = $("#quotation_printing_payment_type_id");
        var $paidWithSale = $('#quotation_printing_paid_with');
        var $payment = $("#quotation_printing_payment");
        var $statusQuotation = $('#quotation_printing_status');
        var $fullPayment = $('#quotation_printing_full_payment');

        if($statusQuotation.val() == '' || $statusQuotation.val() == undefined || $statusQuotation.val() == 'Cotización') {
            console.log("Estatus de la cotización no es valido");
            return;
        }

        if (this.value == 'true') {
            console.log("Pago total");
            $fullPayment.val(true);
            // Total payment
            $("#id_difference").css('display', 'none');
            $("#id_payment").css('display', 'none');

            if($paymentMethod.val() == "") { // No se eligio metodo de pago
                console.log("No se elije metodo de pago")
                $paidWithSale.val(0);
                $paidWithSale.prop("readonly",true);
                $payment.val(0);
                $payment.prop("readonly",true);
                //obtainChangeSale();
                return;
            }

            if($paymentMethod.val() != "1") { // Debito, Credito
                console.log("Metodo de pago es tarjeta");
                var totalToPaid = Number($totalPaid.html().split("$")[1].replace(/,/g, ""));
                $paidWithSale.val(totalToPaid);
                $paidWithSale.prop("readonly",true);
                obtainChangeSale();
                return;

            } else { // Efectivo
                console.log("Metodo de pago es efectivo")
                $paidWithSale.val(0);
                $paidWithSale.prop("readonly",false);
                obtainChangeSale();
                return;
            }
        }
        else if (this.value == 'false') {
            console.log("Pago parcial");
            $fullPayment.val("false");
            // Parcial payment
            $("#id_difference").css('display', 'table-row');
            $("#id_payment").css('display', 'table-row');

            if($paymentMethod.val() == "") { // No se eligio metodo de pago
                console.log("Sin método de pago");
                $paidWithSale.val(0);
                $paidWithSale.prop("readonly",true);
                $payment.val(0);
                $payment.prop("readonly",true);
                //obtainChangeSale();
                return;
            }

            if($paymentMethod.val() != "1") { // Debito, Credito
                console.log("Metodo de pago es tarjeta")
                $paidWithSale.val(0);
                $paidWithSale.prop("readonly",false);
                $payment.val(0);
                $payment.prop("readonly",true);
                obtainChangeSale();
            } else { // Efectivo
                console.log("MEtodo de pago es efectivo")
                $paidWithSale.val(0);
                $paidWithSale.prop("readonly",false);
                $payment.val(0);
                $payment.prop("readonly",false);
                obtainChangeSale();
                return;
            }
        }
    });

</script>

