<div class="row" data-behavior="background-image" data-url="<%= @url_background %>">
  <div class="col-sm-12">
    <%= render 'quotation_printings/search', locals: {type: @type} %>
  </div>
  <hr/>
  <div class="form-group">
    <div class="col-sm-2">
      <label class="col-sm-12 control-label background-color-carousel">Subcategoría</label>
    </div>
    <div class="col-sm-3" style="margin-bottom: 10px;">
      <% if @type.eql?("invitations") %>
        <%= select_tag "quotation_printing[invitation_id]", options_from_collection_for_select(@subcategories, "id", "name", @subcategory),
                     {class: "form-control", required: true, data: {behavior: 'subcategory', type:@type}} %>
      <% end %>

      <% if @type.eql?("contents") %>
        <%= select_tag "quotation_printing[content_for_invitation_id]", options_from_collection_for_select(@subcategories, "id", "name", @subcategory),
                       {class: "form-control", required: true, data: {behavior: 'subcategory', type:@type}} %>
      <% end %>
    </div>
    <label class="col-sm-2 control-label background-color-carousel">Fondo:</label>
    <div class="col-sm-5">
      <%= form_tag quotation_modal_image_path, multipart: true, data: {remote: true, type: :json} do %>
        <%= file_field_tag "configuration[url_background_carousel]", class: "form-control", accept: 'image/png,image/gif,image/jpeg,image/jpg',
                           data: {behavior: 'file-background-image'}%>
        <%= submit_tag "update", data: {behavior:'form-background-image'}, style: "display: none;" %>
      <% end %>

    </div>
  </div>
</div>

<div data-behavior="gallery">
  <%= render 'quotation_printings/images_carousel', locals: {subcategory: @subcategory} %>
</div>
