<%= form_for(quotation_printing, data: {behavior: 'form'}) do |f| %>
  <%= f.hidden_field :client_id, value: quotation_printing.client_id %>
  <%= f.hidden_field :invitation_id, value: nil, data: {behavior: 'invitation-input'} %>
  <%= f.hidden_field :content_for_invitation_id, value: nil, data: {behavior: 'content-for-invitation-input'} %>

  <div class="box-body">
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label class="col-sm-5 control-label">Cliente</label>
          <div class="col-sm-7" style="margin-bottom: 10px;">
            <label class="control-label"><%= quotation_printing.client.formal_name %></label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-5" style="margin-top:60px; margin-bottom: 10px;">
            <%= select_tag "category_id", options_from_collection_for_select(Category.order(:name), "id", "name"),
                           {class: "form-control", prompt: "Seleccionar tipo de categoría",
                            data: {behavior: "category-invitation"}} %>
          </div>
          <p class="col-sm-5">
            <%= link_to(image_tag("default3.png", class: "img-responsive", data: {behavior: 'image-invitation'},
                                  style: "width:100%; height:150px;"), "#", data: {behavior: "open-carousel", carousel_type: "invitations"}) %>
          </p>
          <label style="margin-top:60px;" class="col-sm-2 control-label">Muestra</label>
        </div>

        <div class="form-group">
          <div class="col-sm-5" style="margin-top:60px; margin-bottom: 10px;">
            <%= select_tag "category_id", options_from_collection_for_select(Category.order(:name), "id", "name"),
                           {class: "form-control", prompt: "Seleccionar tipo de contenido",
                            data: {behavior: "category-content"}} %>
          </div>
          <p class="col-sm-5">
            <%= link_to(image_tag("default3.png", class: "img-responsive", data: {behavior: 'image-content'},
                                  style: "width:100%; height:150px;"), "#", data: {behavior: "open-carousel", carousel_type: "contents"}) %>
          </p>
          <label style="margin-top:60px;" class="col-sm-2 control-label">Muestra</label>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <label class="col-sm-6 control-label">Fecha Entrega (Borrador)</label>
          <div class="col-sm-6" style="margin-bottom: 10px;">
            <%= text_field_tag "quotation_printing[draft_delivery_date]", nil, class: 'form-control', autocomplete: "off",
                               data: {behavior: 'date'}, required: true %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-6 control-label">Fecha Entrega</label>
          <div class="col-sm-6" style="margin-bottom: 10px;">
            <%= text_field_tag "quotation_printing[delivery_date]", nil, class: 'form-control', autocomplete: "off",
                               data: {behavior: 'date'}, required: true %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-6 control-label">Cantidad</label>
          <div class="col-sm-6" style="margin-bottom: 10px;">
            <%= f.text_field :total_pieces, class: 'form-control', data: {input_mask: 'integer-input'},
                             autocomplete: "off", required: true %>
          </div>
        </div>

        <div class="form-group <%= 'has-error' unless quotation_printing.errors[:impression_type].blank? %>">
          <label class="col-sm-6 control-label">Tipo Impresión</label>
          <div class="col-sm-6" style="margin-bottom: 10px;">
            <%= select_tag "quotation_printing[printing_type]", options_for_select(QuotationPrinting.impression_types),
                           {class: "form-control", required: true, prompt: "Seleccionar tipo de impresión"} %>
            <span><%= quotation_printing.errors[:printing_type].first %></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Text areas -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Descripción:</label>
          <%= text_area_tag "quotation_printing[description]", nil, class: "form-control", rows: "5", style: "resize:none;" %>
          <div class="invalid-feedback"><%= quotation_printing.errors[:description].first %></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Descripción Ajuste Diseño:</label>
          <%= text_area_tag "quotation_printing[description_adjust_design]", nil, class: "form-control", rows: "5", style: "resize:none;" %>
          <div class="invalid-feedback"><%= quotation_printing.errors[:description_adjust_design].first %></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Historico:</label>
          <%#= text_area_tag "quotation_printing[historic]", nil, class: "form-control", rows: "5", style: "resize:none;" %>
          <div class="invalid-feedback"><%#= quotation_printing.errors[:historic].first %></div>
        </div>
      </div>
    </div>

    <!-- Panel -->
    <div class="row">
      <div class="col-sm-12" data-behavior="collapsible">
        <a class="accordion box-header header_paid with-border" data-behavior="collapsible-title" style="width: 100%">
          <h3 class="box-title">Detalle Contenido</h3>
        </a>
        <div class="panel" data-behavior="collapsible-body">
          <div class="row">
            <% PrintingProduct.product_types.sort.each do |product_type| %>
              <div class="col-sm-6">
                <div class="row">
                  <label style="margin-top:60px;" class="col-sm-2 control-label"><%= product_type %></label>
                  <p class="col-sm-4">
                    <%= hidden_field_tag "quotation_printing[product_types][][printing_product_id]", nil, data: {behavior: "printing-product-input-#{product_type}"} %>
                    <%= link_to(image_tag("default3.png", class: "img-responsive", data: {behavior: "image-product-type-#{product_type}"},
                                          style: "width:100%; height:150px;"), "#", data: {behavior: "open-carousel",
                                                                                           carousel_type: "printing-products", product_type: product_type}) %>
                  </p>
                  <div class="col-sm-4">
                    <%= text_field_tag "quotation_printing[product_types][][quantity]", 0,
                                       class: "form-control", placeholder: "Cantidad", style:"margin-top:60px;",
                                       data: {input_mask: 'integer-input'} %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= f.submit 'Guardar', class: 'btn btn-info btn-block', id: 'quotation_printing_save_button',
                 style: 'margin-top: 15px;', data: {disable_with: 'Registrando...'} %>

  </div>
<% end %>