<div class="container-fluid">
  <div class="row alwaysbreak m-l-15 m-r-15">
    <div class="col-xs-9 m-t-50">
      <div class="row">
        <div class="col-xs-3">
          <p class="f-s-28"><strong>Nombre: </strong></p>
        </div>
        <div class="col-xs-3">
          <p class="f-s-25"><%= @quotation_printing.client.formal_name %></p>
        </div>
        <div class="col-xs-3">
          <p class="f-s-28"><strong>Orden: </strong></p>
        </div>
        <div class="col-xs-3">
          <p class="f-s-28"><%= "%04d" % @quotation_printing.number_folio %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <p class="f-s-28"><strong>Fecha: </strong></p>
        </div>
        <div class="col-xs-9">
          <p class="f-s-28"><%= @quotation_printing.updated_at.strftime("%d/%m/%Y") %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <p class="f-s-28"><strong>Fecha Entrega Borrador: </strong></p>
        </div>
        <div class="col-xs-3">
          <p class="f-s-28"><%= @quotation_printing.draft_delivery_date %></p>
        </div>
        <div class="col-xs-3">
          <p class="f-s-28"><strong>Fecha Entrega Invitación: </strong></p>
        </div>
        <div class="col-xs-3">
          <p class="f-s-28"><%= @quotation_printing.delivery_date %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <p class="f-s-28"><strong>Le atendió: </strong></p>
        </div>
        <div class="col-xs-8">
          <p class="f-s-28"><%= @quotation_printing.user.formal_name %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <p class="f-s-28"><strong>Cantidad: </strong></p>
        </div>
        <div class="col-xs-3">
          <p class="f-s-28"><%= @quotation_printing.total_pieces %></p>
        </div>
        <div class="col-xs-3">
          <p class="f-s-28"><strong>Total: </strong></p>
        </div>
        <div class="col-xs-3">
          <p class="f-s-28"><%= number_to_currency @quotation_printing.total_cost %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <p class="f-s-28"><strong>A/C: </strong></p>
        </div>
        <div class="col-xs-9">
          <p class="f-s-28"><%= number_to_currency @quotation_printing.payment %></p>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="row">
        <div class="col-xs-12">
          <% logo_path = image_url("logomichel2019-08-30.jpeg") %>
          <%= wicked_pdf_image_tag(logo_path, style: "width: 100%;") %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-xs-offset-3">
          <p class="f-s-a-f"><strong>Súper Creativas,<br/> Súper Originales</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-right">
          <% logo_path = image_url("facebook-transparent-icon-9.jpg") %>
          <%= wicked_pdf_image_tag(logo_path, style: "width: 60%; height: 60px;") %>
        </div>
        <div class="col-xs-9">
          <p class="f-s-a-f"><strong>Invitaciones Michel</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-xs-offset-3">
          <p class="f-s-a-f"><strong>Tel: 530 09 29</strong></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-t-50 m-l-15 m-r-15" style="height: 250px;">
    <div class="col-xs-6 text-center">
      <div class="col-xs-12 m-t-20 m-b-20">
        <p class="f-s-28"><strong>CONTENIDO #</strong></p>
      </div>
      <div class="col-xs-12">
        <% logo_path = @quotation_printing.content_for_invitation.image_url %>
        <%= wicked_pdf_image_tag(logo_path, style: "width: 50%; height: 100%") %>
      </div>
    </div>
    <div class="col-xs-6 text-center">
      <div class="col-xs-12 m-t-20 m-b-20">
        <p class="f-s-28"><strong>INVITACIÓN #</strong></p>
      </div>
      <div class="col-xs-12">
        <% logo_path = @quotation_printing.invitation.imagen_url %>
        <%= wicked_pdf_image_tag(logo_path, style: "width: 50%; height: 100%;") %>
      </div>
    </div>
  </div>

  <div class="row m-l-15 m-r-15">
    <div class="col-xs-12 m-t-50" style="height: 250px; background-color: rgba(255, 255, 255, 0.5); border: 1px solid;">
      <p class="f-s-a-f"><strong><%= @quotation_printing.description %></strong></p>
    </div>

    <div class="col-xs-12 m-t-50" style="height: 250px; background-color: rgba(255, 255, 255, 0.5); border: 1px solid;">
      <p class="f-s-a-f"><strong><%= @quotation_printing.description_adjust_design %></strong></p>
    </div>
  </div>

</div>
