 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar background-gray" style="width: 230px;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu background-gray" data-widget="tree"C">
        <li class="header background-gray" style="height: 30px; display: inline-block; width: 100%; text-align: center; padding-top: 20px;"></li>

        <li class="<%= active_item('sales')%> <%= root_controller()%>">
          <%= link_to sales_path, style: "font-size: 1.8rem;", class: "item-menu-navegation" do %>
            <i class="fa fa-fw fa-support"></i>
            <span class="roboto-font" style="padding-left: 10px;">Ventas</span>
          <% end %>
        </li>

        <li class="<%= active_item('services')%>">
          <%= link_to new_service_path, style: "font-size: 1.8rem;", class: "item-menu-navegation" do %>
            <i class="fa fa-fw fa-support"></i>
            <span class="roboto-font" style="padding-left: 10px;">Servicios</span>
          <% end %>
        </li>
        <!--<li class="<%#= active_item('equipment_customers')%>">
          <%#= link_to search_equipment_customers_path, style: "font-size: 1.8rem;" do %>
            <i class="fa fa-fw fa-support"></i>
            <span style="padding-left: 10px;">Soportes</span>
          <%# end %>
        </li>-->
        <li class="<%= active_item('clients')%>">
          <%= link_to clients_path, style: "font-size: 1.8rem;", class: "item-menu-navegation" do %>
            <i class="fa fa-fw fa-user-md"></i>
            <span class="roboto-font" style="padding-left: 10px;">Clientes</span>
          <% end %>
        </li>

        <li class="<%= active_item('incomes')%>">
          <%= link_to incomes_path, style: "font-size: 1.8rem;", class: "item-menu-navegation" do %>
            <i class="fa fa-fw fa-money"></i>
            <span class="roboto-font" style="padding-left: 10px;">Ingresos</span>
          <% end %>
        </li>

        <li class="treeview">
          <a href="#" style="font-size: 1.8rem;" class="item-menu-navegation">
            <i class="fa fa-fw fa-sticky-note"></i> <span class="roboto-font" style="padding-left: 10px;">Catálogos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu background-gray" style="display: block;">
            <li class="<%= active_item('equipments')%> subitem-menu-navegation">
              <%= link_to equipments_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-television"></i>
                <span class="roboto-font" style="padding-left: 5px;">Equipos</span>
              <% end %>
            </li>
            <li class="<%= active_item('brands')%> subitem-menu-navegation">
              <%= link_to brands_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-trademark"></i>
                <span class="roboto-font" style="padding-left: 5px;">Marcas</span>
              <% end %>
            </li>
            <li class="<%= active_item('equipment_models')%> subitem-menu-navegation">
              <%= link_to equipment_models_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-opencart"></i>
                <span class="roboto-font" style="padding-left: 5px;">Modelos</span>
              <% end %>
            </li>
            <li class="<%= active_item('spare_parts')%> subitem-menu-navegation">
              <%= link_to spare_parts_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-battery-empty"></i>
                <span class="roboto-font" style="padding-left: 5px;">Refacciones</span>
              <% end %>
            </li>
            <li class="<%= active_item('generic_prices')%> subitem-menu-navegation">
              <%= link_to generic_prices_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                <i class="fa fa-fw fa-money"></i>
                <span class="roboto-font" style="padding-left: 5px;">Precios Genéricos</span>
              <% end %>
            </li>
            <li class="<%= active_item('employes')%> subitem-menu-navegation">
              <%= link_to employes_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-user"></i>
                <span class="roboto-font" style="padding-left: 5px;">Empleados</span>
              <% end %>
            </li>
            <li class="<%= active_item('products')%> subitem-menu-navegation">
              <%= link_to products_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-hdd-o"></i>
                <span class="roboto-font" style="padding-left: 5px;">Productos</span>
              <% end %>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#" style="font-size: 1.8rem;" class="item-menu-navegation">
            <i class="fa fa-fw fa-sticky-note"></i> <span class="roboto-font" style="padding-left: 10px;">Reportes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu background-gray" style="display: block;">
            <li class="<%= active_item_action('pending_services')%> subitem-menu-navegation">
              <%= link_to pending_services_incomes_path, class: "subitem-menu-navegation", style: "font-size: 14px !important;" do %>
                <i class="fa fa-fw fa-gears"></i>
                <span class="roboto-font">Servicios en Proceso</span>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

<script>

</script>
