 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar background-gray" style="width: 230px;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu background-gray" data-widget="tree" data-animation-speed="300" data-accordion=false>
        <li class="header background-gray" style="height: 30px; display: inline-block; width: 100%; text-align: center; padding-top: 20px;"></li>

        <li class="<%= @module == "Home" ? 'active-sidebar' : '' %>">
          <%= link_to root_path, style: "font-size: 1.8rem;", class: "item-menu-navegation" do %>
            <span class="glyphicon glyphicon-home"></span>
            <span class="roboto-font" style="padding-left: 10px;">Home</span>
          <% end %>
        </li>

        <!-- Menu desplegable tienda -->
        <% if current_user.sales_product? %>
        <li class="treeview">
          <a href="#" style="font-size: 1.8rem;" class="item-menu-navegation">
            <i class="fa fa-fw fa-money"></i><span class="roboto-font" style="padding-left: 10px;">Tienda</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu background-gray menu-open" style="<%= collapse_menu_store?(@module) %>">
            <li class="<%= @module == "Ventas" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to new_sale_path, style: "font-size: 15px !important;", class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-support"></i>
                <span class="roboto-font" style="padding-left: 10px;">Vender</span>
              <% end %>
            </li>

            <li class="<%= @module == "Cotizar" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to new_quotation_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                <i class="fa fa-fw fa-gears"></i>
                <span class="roboto-font">Cotizar</span>
              <% end %>
            </li>

            <li class="<%= @module == "Cotizaciones" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to quotations_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                <i class="fa fa-fw fa-gears"></i>
                <span class="roboto-font">Cotizaciones</span>
              <% end %>
            </li>
          </ul>
        </li>
        <% end %>

        <!-- Servicios -->
        <% if current_user.sales_product? %>
        <li class="treeview">
          <a href="#" style="font-size: 1.8rem;" class="item-menu-navegation">
            <i class="fa fa-fw fa-money"></i><span class="roboto-font" style="padding-left: 10px;">Servicios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu background-gray menu-open" style="<%= collapse_menu_services?(@module) %>">
            <li class="<%= @module == "Servicios" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to new_service_path, style: "font-size: 15px !important;", class: "subitem-menu-navegation" do %>
                <span class="glyphicon glyphicon-inbox"></span>
                <span class="roboto-font" style="padding-left: 10px;">Nuevo Servicio</span>
              <% end %>
            </li>

            <li class="<%= @module == "Servicios Proceso" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to pending_services_incomes_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                <i class="fa fa-fw fa-gears"></i>
                <span class="roboto-font">Servicios en Proceso</span>
              <% end %>
            </li>
          </ul>
        </li>
        <% end %>

        <!-- Impresiones -->
        <% if current_user.sales_printing? %>
        <li class="treeview">
          <a href="#" style="font-size: 1.8rem;" class="item-menu-navegation">
            <i class="glyphicon glyphicon-print"></i><span class="roboto-font" style="padding-left: 10px;">Impresiones</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu background-gray menu-open" style="<%= collapse_menu_printing_sales?(@module) %>">
            <li class="<%= @module == "VentasImpresiones" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to new_printing_sale_path, style: "font-size: 14px !important;", class: "subitem-menu-navegation" do %>
                <i class="glyphicon glyphicon-print"></i>
                <span class="roboto-font" style="padding-left: 10px;">Ventas de Impresiones</span>
              <% end %>
            </li>

            <li class="<%= @module == "VentasParciales" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to partial_sales_path, style: "font-size: 14px !important;", class: "subitem-menu-navegation" do %>
                <i class="glyphicon glyphicon-print"></i>
                <span class="roboto-font" style="padding-left: 10px;">Ventas Parciales</span>
              <% end %>
            </li>

            <li class="<%= @module == "quotation_printing" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to quotation_printings_path, style: "font-size: 14px !important;", class: "subitem-menu-navegation" do %>
                <i class="glyphicon glyphicon-print"></i>
                <span class="roboto-font" style="padding-left: 10px;">Ordenes de Trabajo</span>
              <% end %>
            </li>

            <li class="<%= @module == "quotation_printings" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to all_quotation_printings_path, style: "font-size: 14px !important;", class: "subitem-menu-navegation" do %>
                <i class="glyphicon glyphicon-print"></i>
                <span class="roboto-font" style="padding-left: 10px;">Ordenes en Proceso</span>
              <% end %>
            </li>
          </ul>
        </li>
        <% end %>

        <!-- Catalogos -->
        <li class="treeview">
          <a href="#" style="font-size: 1.8rem;" class="item-menu-navegation">
            <i class="fa fa-fw fa-sticky-note"></i> <span class="roboto-font" style="padding-left: 10px;">Catálogos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu background-gray menu-open" style="<%= collapse_menu_catalogs?(@module) %>">
            <% if current_user.sales_product? %>
            <li class="<%= @module == "Equipos" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to equipments_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-television"></i>
                <span class="roboto-font" style="padding-left: 5px;">Equipos</span>
              <% end %>
            </li>
            <li class="<%= @module == "Marcas" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to brands_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-trademark"></i>
                <span class="roboto-font" style="padding-left: 5px;">Marcas</span>
              <% end %>
            </li>
            <li class="<%= @module == "Modelos" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to equipment_models_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-opencart"></i>
                <span class="roboto-font" style="padding-left: 5px;">Modelos</span>
              <% end %>
            </li>
            <li class="<%= @module == "Refacciones" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to spare_parts_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-battery-empty"></i>
                <span class="roboto-font" style="padding-left: 5px;">Refacciones</span>
              <% end %>
            </li>
            <li class="<%= @module == "Productos" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to products_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-hdd-o"></i>
                <span class="roboto-font" style="padding-left: 5px;">Productos</span>
              <% end %>
            </li>
            <% end %>

            <% if current_user.admin? %>
            <li class="<%= @module == "Precios Genéricos" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to generic_prices_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                <i class="fa fa-fw fa-money"></i>
                <span class="roboto-font" style="padding-left: 5px;">Precios Genéricos</span>
              <% end %>
            </li>
            <li class="<%= @module == "Empleados" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to employes_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-user"></i>
                <span class="roboto-font" style="padding-left: 5px;">Empleados</span>
              <% end %>
            </li>
            <% end %>

            <!-- Productos Imprenta -->
            <% if current_user.sales_printing? %>
            <li class="<%= @module == "printing_products" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to printing_products_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-hdd-o"></i>
                <span class="roboto-font" style="padding-left: 5px; font-size: 16px !important;">Productos Imprenta</span>
              <% end %>
            </li>

            <!-- Invitaciones -->
            <li class="<%= @module == "Invitaciones" ? 'active-sidebar' : '' %> subitem-menu-navigation">
              <%= link_to invitations_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-envelope-o"></i>
                <span class="roboto-font" style="padding-left: 10px;">Muestras</span>
              <% end %>
            </li>

            <!-- Categorias -->
            <li class="<%= @module == "categories" ? 'active-sidebar' : '' %> subitem-menu-navigation">
              <%= link_to categories_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-envelope-o"></i>
                <span class="roboto-font" style="padding-left: 10px;">Categorías</span>
              <% end %>
            </li>

            <!-- subcategorias -->
            <li class="<%= @module == "subcategories" ? 'active-sidebar' : '' %> subitem-menu-navigation">
              <%= link_to subcategories_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-envelope-o"></i>
                <span class="roboto-font" style="padding-left: 10px;">Subcategorías</span>
              <% end %>
            </li>

            <!-- content for invitations -->
            <li class="<%= @module == "content_for_invitations" ? 'active-sidebar' : '' %> subitem-menu-navigation">
              <%= link_to content_for_invitations_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-envelope-o"></i>
                <span class="roboto-font" style="padding-left: 10px;">Contenidos</span>
              <% end %>
            </li>
            <% end %>

            <% if current_user.sales_product? || current_user.sales_printing? %>
            <li class="<%= @module == "Clientes" ? 'active-sidebar' : '' %> subitem-menu-navigation">
              <%= link_to clients_path, class: "subitem-menu-navegation" do %>
                <i class="fa fa-fw fa-user-md"></i>
                <span class="roboto-font" style="padding-left: 10px;">Clientes</span>
              <% end %>
            </li>
           <% end %>
          </ul>
        </li>

        <!-- Reportes -->
        <% if current_user.admin? %>
          <li class="treeview">
            <a href="#" style="font-size: 1.8rem;" class="item-menu-navegation">
              <i class="fa fa-fw fa-money"></i><span class="roboto-font" style="padding-left: 10px;">REPORTES</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-down pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu background-gray menu-open" style="<%= collapse_menu_incomes?(@module) %>">
              <li class="treeview">
                <a href="#" style="font-size: 1.5rem;" class="item-menu-navegation">
                  <i class="fa fa-fw fa-money"></i><span class="roboto-font" style="padding-left: 10px;">De Ingresos</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-down pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu background-gray menu-open" style="<%= collapse_menu_incomes?(@module) %>">
                  <li class="<%= @module == "incomes_sales" ? 'active-sidebar' : '' %> subitem-menu-navegation">
                    <%= link_to sales_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                      <i class="fa fa-fw fa-money"></i>
                      <span class="roboto-font" style="padding-left: 5px;">Tienda</span>
                    <% end %>
                  </li>
                  <li class="<%= @module == "incomes_printing" ? 'active-sidebar' : '' %> subitem-menu-navegation">
                    <%= link_to printing_income_reports_index_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                      <i class="fa fa-fw fa-money"></i>
                      <span class="roboto-font" style="padding-left: 5px;">Imprenta</span>
                    <% end %>
                  </li>
                  <li class="<%= @module == "incomes_quotation_printing" ? 'active-sidebar' : '' %> subitem-menu-navegation">
                    <%= link_to quotation_printing_income_reports_index_path, class: "subitem-menu-navegation", style: "font-size: 14px !important;" do %>
                      <i class="fa fa-fw fa-money"></i>
                      <span class="roboto-font" style="padding-left: 5px;">Ordenes de Trabajo</span>
                    <% end %>
                  </li>
                  <li class="<%= @module == "incomes" ? 'active-sidebar' : '' %> subitem-menu-navegation">
                    <%= link_to incomes_path, class: "subitem-menu-navegation", style: "font-size: 14px !important;" do %>
                      <i class="fa fa-fw fa-money"></i>
                      <span class="roboto-font" style="padding-left: 5px;">Servicios</span>
                    <% end %>
                  </li>
                </ul>
              </li>

              <!-- Reportes simplificados -->
              <li class="treeview">
                <a href="#" style="font-size: 1.5rem;" class="item-menu-navegation">
                  <i class="fa fa-fw fa-money"></i><span class="roboto-font" style="padding-left: 10px;">Simplificados</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-down pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu background-gray menu-open" style="<%= collapse_menu_incomes?(@module) %>">
                  <li class="<%= @module == "concentrated_reports_sales" ? 'active-sidebar' : '' %> subitem-menu-navegation">
                    <%= link_to concentrated_reports_sales_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                      <i class="fa fa-fw fa-money"></i>
                      <span class="roboto-font" style="padding-left: 5px;">Tienda</span>
                    <% end %>
                  </li>
                  <li class="<%= @module == "concentrated_reports_printing_sales" ? 'active-sidebar' : '' %> subitem-menu-navegation">
                    <%= link_to concentrated_reports_printing_sales_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                      <i class="fa fa-fw fa-money"></i>
                      <span class="roboto-font" style="padding-left: 5px;">Imprenta</span>
                    <% end %>
                  </li>
                  <li class="<%= @module == "concentrated_reports_quotation_printings" ? 'active-sidebar' : '' %> subitem-menu-navegation">
                    <%= link_to concentrated_reports_printing_quotation_printings_path, class: "subitem-menu-navegation", style: "font-size: 14px !important;" do %>
                      <i class="fa fa-fw fa-money"></i>
                      <span class="roboto-font" style="padding-left: 5px;">Ordenes de Trabajo</span>
                    <% end %>
                  </li>
                  <li class="<%= @module == "concentrated_reports_services" ? 'active-sidebar' : '' %> subitem-menu-navegation">
                    <%= link_to concentrated_reports_services_path, class: "subitem-menu-navegation", style: "font-size: 14px !important;" do %>
                      <i class="fa fa-fw fa-money"></i>
                      <span class="roboto-font" style="padding-left: 5px;">Servicios</span>
                    <% end %>
                  </li>
                </ul>
              </li>


              <li class="<%= @module == "cash_movements" ? 'active-sidebar' : '' %> subitem-menu-navegation">
                <%= link_to cashes_report_close_cashes_path, class: "subitem-menu-navegation", style: "font-size: 14px !important;" do %>
                  <i class="fa fa-fw fa-money"></i>
                  <span class="roboto-font" style="padding-left: 5px;">Movimientos de Caja</span>
                <% end %>
              </li>
              <li class="<%= @module == "product_earnings_report" ? 'active-sidebar' : '' %> subitem-menu-navegation">
                <%= link_to product_earnings_report_index_path, class: "subitem-menu-navegation", style: "font-size: 14px !important;" do %>
                  <i class="fa fa-fw fa-money"></i>
                  <span class="roboto-font" style="padding-left: 5px;">Reporte de Ganancias</span>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>

        <!-- APERTURA DE CAJA Y CIERRE DE CAJA -->
        <li class="treeview">
          <a href="#" style="font-size: 1.3rem;" class="item-menu-navegation">
            <i class="fa fa-fw fa-gears"></i> <span class="roboto-font" style="padding-left: 5px;">Configuración</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu background-gray menu-open" style="<%= collapse_menu_cashes?(@module) %>">
            <li class="<%= @module == "open_cashes" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to cashes_new_open_cash_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                <i class="fa fa-fw fa-plus"></i>
                <span class="roboto-font">Abrir Caja</span>
              <% end %>
            </li>
            <li class="<%= @module == "close_cashes" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%= link_to cashes_new_close_cash_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                <i class="fa fa-fw fa-expeditedssl"></i>
                <span class="roboto-font">Cerrar Caja</span>
              <% end %>
            </li>
            <!--<li class="<%#= @module == "movements_cash" ? 'active-sidebar' : '' %> subitem-menu-navegation">
              <%#= link_to cashes_new_movement_path, class: "subitem-menu-navegation", style: "font-size: 15px !important;" do %>
                <i class="fa fa-fw fa-expeditedssl"></i>
                <span class="roboto-font">Movimientos de Caja</span>
              <%# end %>
            </li>-->
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
