 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="height: 50px; display: inline-block; width: 100%; text-align: center; padding-top: 20px;">MENÚ DE NAVEGACIÓN</li> 
        <li class="<%= active_item('services')%>">
          <%= link_to new_service_path, style: "font-size: 1.8rem;" do %>
            <i class="fa fa-fw fa-support"></i>
            <span style="padding-left: 10px;">Servicios</span>    
          <% end %>               
        </li>
        <!--<li class="<%#= active_item('equipment_customers')%>">
          <%#= link_to search_equipment_customers_path, style: "font-size: 1.8rem;" do %>
            <i class="fa fa-fw fa-support"></i>
            <span style="padding-left: 10px;">Soportes</span>    
          <%# end %>               
        </li>-->
        <li class="<%= active_item('clients')%>">
          <%= link_to clients_path, style: "font-size: 1.8rem;" do %>
            <i class="fa fa-fw fa-user-md"></i> 
            <span style="padding-left: 10px;">Clientes</span>            
          <% end %>
        </li>

        <li class="treeview">
          <a href="#" style="font-size: 1.8rem;">
            <i class="fa fa-fw fa-sticky-note"></i> <span style="padding-left: 10px;">Catálogos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li class="<%= active_item('equipments')%>">
              <%= link_to equipments_path, style: "margin-left: 20px; font-size: 1.5rem;" do %>
                <i class="fa fa-fw fa-television"></i> 
                <span style="padding-left: 5px;">Equipos</span>  
              <% end %>
            </li>                    
            <li class="<%= active_item('brands')%>">
              <%= link_to brands_path, style: "margin-left: 20px; font-size: 1.5rem;" do %>
                <i class="fa fa-fw fa-trademark"></i> 
                <span style="padding-left: 5px;">Marcas</span>  
              <% end %>
            </li>
            <li class="<%= active_item('spare_parts')%>">
              <%= link_to spare_parts_path, style: "margin-left: 20px; font-size: 1.5rem;", class: "active" do %>
                <i class="fa fa-fw fa-battery-empty"></i>
                <span style="padding-left: 5px;">Refacciones</span>  
              <% end %>
            </li>
          </ul>
        </li>


      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>