<!DOCTYPE html>
<html>
<head>
  <title>Puntodeventa</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

  <meta name="turbolinks-cache-control" content="no-cache">

</head>

<body class="hold-transition skin-blue-light sidebar-mini">
  <div class="wrapper">
    <%= render "layouts/navbar" %>
    <%= render "layouts/sidebar" %>
    <%= render "layouts/flash_messages" %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper background-white">
    <!-- Main content -->
    <section class="content" style="padding: 0;">
       <%= yield %>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2019. Todos los derechos reservados </strong>
  </footer>

</div>
<!-- ./wrapper -->

  <%#= render 'layouts/flash_messages' %>

</body>
</html>
