<!DOCTYPE html>
<html>
<head>
  <title>Puntodeventa</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Login - PV</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 

  <meta name="turbolinks-cache-control" content="no-cache">

</head>

<body>
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/flash_messages' %>
  <div>
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
  </div>
</body>
</html>
